<div class="row">

    <app-pre-sale-steps-counter [step]="3"></app-pre-sale-steps-counter>

    <div class="col-12 my-4">
        <app-pre-sale-banner-card-item [orderType]="preSaleDocument?.orderType"></app-pre-sale-banner-card-item>
    </div>

    <div class="col-12 text-center mb-2 fw-bold fs-5 mt-5 text-uppercase">
        {{ "general.summaryOfThePurchase" | translate }}
    </div>

    <div class="col-12 mb-4" *ngFor="let item of rooms; index as idx">
        <app-pre-sale-checkout-card-item 
            [index]="idx + 1" [item]="item"
            (onUpdate)="onUpdateItem($event)"
            (onRemove)="onRemoveItem($event)"></app-pre-sale-checkout-card-item>
    </div>

    <div class="col-12 mb-4">
        <app-pre-sale-checkout-category-card-item 
            [order]="preSaleDocument"
            (onUpdate)="onUpdateAdditionalCategoryPasses($event)"
            (onRemove)="onRemoveAdditionalCategoryPasses($event)"></app-pre-sale-checkout-category-card-item>
    </div>

    <div class="col-12 mb-4">
        <app-pre-sale-coupon-form></app-pre-sale-coupon-form>
    </div>

    <app-pre-sale-totales></app-pre-sale-totales>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" (click)="onBack()">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate | uppercase}}
            </button>
            <button class="btn btn-one btn-medium-c text-uppercase" type="button" (click)="onNext()">
                {{ "general.continueToPay" | translate | uppercase }}
            </button>
        </div>
    </div>

</div>