<div class="modal fade" id="modalCuotasPaymentDetails" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="modalCuotasPaymentDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-body">
                <div class="container">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="logo mb-3">
                                <img src="assets/img/cilik/logo.png" alt="">
                            </div>
                            <h5 class="text-center fw-bolder mb-4">
                                Para continuar con el proceso de pago por cuotas, debes leer y aceptar los términos y
                                condiciones
                            </h5>
                            <p>
                                <strong>Términos y condiciones:</strong>
                            </p>
                            <ul>
                                <li>
                                    Las personas podrán pagar en un plan de cuotas que estarán disponible a la hora de
                                    pagar, este plan de cuotas irá solo en las fechas de pago que hagan falta. Ejemplo,
                                    en la primera fecha de pago se podrá pagar en 4 cuotas, en la segunda fecha de pago
                                    se podrá en tres cuotas y en la tercera fecha de pago se podrá pagar solo en dos
                                    cuotas.
                                </li>
                                <li>
                                    Cuando se paga por cuotas el precio queda congelado automáticamente siempre y cuando
                                    cumpla con las fechas límites de pago.
                                </li>
                                <li>
                                    Los pagos se deben realizar antes de la fecha de vencimiento. De lo contrario
                                    perderá el beneficio de congelar el precio y deberá pagar al precio que esté
                                    actualmente vigente
                                    según la fecha de precios y el sistema le cobrará automáticamente el valor restante.
                                </li>
                                <li>
                                    Después de transcurridos cinco (5) días, no se devolverá dinero de pagos por cuotas
                                    que se hayan realizado y que no vayan a cumplir (Artículo 47 de la Ley 1480 de
                                    2011).
                                </li>
                                <li>
                                    No se acepta usar pagos realizados en cuotas en parte de pagos de otras cuotas o
                                    nuevas compras.
                                </li>
                                <li>
                                    NOTA IMPORTANTE: los inscritos (participantes y acompañantes) al momento de
                                    inscribirse y pagar la inscripción, declaran que conocen el REGLAMENTO DEL CERTAMEN
                                    y se comprometen a acatarlo.
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-three" (click)="closeModal(false)">
                    <i class="bi bi-chevron-left"></i>
                    REGRESAR
                </button>
                <button type="button" class="btn btn-one" (click)="closeModal(true)">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>