<div class="col-12 mb-4">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending"
                type="button" role="tab" aria-controls="pills-pending" aria-selected="true">Pending</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-approved-tab" data-bs-toggle="pill" data-bs-target="#pills-approved"
                type="button" role="tab" aria-controls="pills-approved" aria-selected="false">Approved</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-rejected-tab" data-bs-toggle="pill" data-bs-target="#pills-rejected"
                type="button" role="tab" aria-controls="pills-rejected" aria-selected="false">Rejected</button>
        </li>
    </ul>
</div>

<div class="col-12">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
            <app-purchase-list 
                [query]="(queries.pending.available) ? queries.pending.query : []"
                [opts]="(queries.pending.available) ? queries.pending.opts : {}"
            ></app-purchase-list>
        </div>
        <div class="tab-pane fade" id="pills-approved" role="tabpanel" aria-labelledby="pills-approved-tab">
            <app-purchase-list 
                [query]="(queries.completed.available) ? queries.completed.query : []"
                [opts]="(queries.completed.available) ? queries.completed.opts : {}"
            ></app-purchase-list>
        </div>
        <div class="tab-pane fade" id="pills-rejected" role="tabpanel" aria-labelledby="pills-rejected-tab">
            <app-purchase-list 
                [query]="(queries.rejected.available) ? queries.rejected.query : []"
                [opts]="(queries.rejected.available) ? queries.rejected.opts : {}"
            ></app-purchase-list>
        </div>
    </div>
</div>