<div class="modal fade modal-RoomAdditionalDays" id="modalMyPurhcaseDetail" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalMyPurhcaseDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <h5 class="modal-title fw-bold">
                    RESUMEN DE COMPRA
                </h5>

            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row g-3">

                        <div class="col-12 mb-4" *ngFor="let item of rooms; index as idx">
                            <app-purchase-summary-details-card-item [index]="item.index" [item]="item">
                            </app-purchase-summary-details-card-item>
                        </div>

                        <div class="col-12 mb-4">
                            <app-purchase-summary-details-category-card-item [order]="order">
                            </app-purchase-summary-details-category-card-item>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer flex-column justify-content-center">
                <div class="w-50 d-flex flex-row justify-content-center align-items-center">
                    <button type="button" class="btn btn-one" (click)="closeModal()">Done</button>
                </div>

            </div>
        </div>
    </div>
</div>