<ng-container *ngIf="order.orderType == 'fullPass'">
    <!-- ORDEN PLAN OFICIAL WLDC -->
    <div class="card card-box p-3 mb-3">
        <div class="row g-2 d-flex align-items-center">
            <div class="col-12 px-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="icon-order">
                            <img src="assets/img/cilik/dash-08.png" alt="">
                        </div>
                        <div class="fs-4 fw-bold">
                            {{'general.WLDCOfficialPlan' | translate}}
                        </div>
                    </div>

                    <span class="text-end fs-5 fw-bold">
                        {{ "general.purchaseOrder" | translate }} #
                        <br>
                        {{order.orderId}}
                    </span>
                </div>
            </div>
            <div class="seprd2"></div>

            <div class="col-6 px-3">
                <div class="d-flex justify-content-start mt-2">
                    <div class="fs-4 fw-bold">
                        {{'general.status' | translate}}: {{ 'general.' + order.status | translate }}
                    </div>
                </div>
            </div>
            
            <div class="px-3 col-6" >
                <div class="d-flex justify-content-end ">
                   
                    <button class="btn btn-one" style="margin-bottom: 2rem;" type="button" (click)="showDetails()">
                        {{ 'general.seeDetails' | translate }}
                    </button>
                    <br>
                    <span class="coasmdoas">Al darle click al botón, le mostrará los detalles específico de su compra y datos del banco seleccionado.</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="order.orderType == 'categoryPass'">
    <!-- ORDEN CATEGORIAS ADICIONALES -->
    <div class="card card-box p-3 mb-3">
        <div class="row g-2 d-flex align-items-center">
            <div class="col-12 px-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="icon-order">
                            <img src="assets/img/cilik/dash-09.png" alt="">
                        </div>
                        <div class="fs-4 fw-bold">
                            {{'general.additionalCategories' | translate}}
                        </div>
                    </div>
                    <span class="text-end fs-5 fw-bold">
                        {{ "general.purchaseOrder" | translate }} #
                        <br>
                        {{order.orderId}}
                    </span>
                </div>
            </div>
            <div class="seprd2"></div>
            <div class="col-6 px-3">
                <div class="d-flex justify-content-start mt-2">
                    <div class="fs-4 fw-bold">
                        {{'general.status' | translate}}: {{ 'general.' + order.status | translate }}
                    </div>
                </div>
            </div>
            <div class="px-3 col-6" >
                <div class="d-flex justify-content-end">
                    <button class="btn btn-one" style="margin-bottom: 2rem;" type="button" (click)="showDetails()">
                        {{ 'general.seeDetails' | translate }}
                    </button>
                    <br>
                    <span class="coasmdoas">Al darle click al botón, le mostrará los detalles específico de su compra y datos del banco seleccionado.</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>

