.coasmdoas{
    font-size: 0.8rem;
    /* position: absolute; */
    /* bottom: 10px; */
    /* width: 300px; */
    right: 25px;
    text-align: end;
    width: 200px;
}
@media (max-width: 767px){
    .coasmdoas{
        text-align: center;
        width: auto;
    }
}