<div class="row">
    <div class="col-12">
        <form [formGroup]="form" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="query" placeholder="Coupon Code">
                <label for="couponCodeInput">Search by Coupon Code</label>
            </div>
        </form>
    </div>

    <div class="col text-center mb-4">
        <div class="fs-4 fw-bold mb-2">
            List
        </div>
        <div class="seprd2"></div>
    </div>



</div>