<div class="row">

    <div class="col-12">
        <div class="fs-2 fw-bold text-center mb-3">
            Listado de cupones 
            <span class="badge bg-danger" (click)="add()">
                <i class="bi bi-plus"></i>
            </span>
        </div>
    </div>

    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<app-add-coupon-modal></app-add-coupon-modal>
<app-update-coupon-modal></app-update-coupon-modal>