<div class="row">

    <div class="col-12 my-4">
        <app-pre-sale-banner-card-item [orderType]="preSaleDocument?.orderType"></app-pre-sale-banner-card-item>
    </div>

    <div class="col-12 text-center mb-2 mt-5">
        <h5>
            {{ "general.valueToBeCancelledFrom" | translate }} <span class="fw-bolder">USD {{total | mask:'separator.0':','}}</span>
        </h5>
    </div>

    <div class="col-12 mb-4 text-center">
        <app-paypal [amount]="total"
            (onCancel)="onPaypalResponse({type: 'cancel', data: $event})"
            (onError)="onPaypalResponse({type: 'error', data: $event})"
            (onComplete)="onPaypalResponse({type: 'success', data: $event})">
        ></app-paypal>
    </div>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three text-uppercase" type="button" (click)="onBack()">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate | uppercase}}
            </button>
            <!-- <button class="btn btn-one" type="button" (click)="onNext()">
                CONTINUAR
            </button> -->
        </div>
    </div>
</div>
