<div class="row">

    <app-pre-sale-categories-step-counter [step]="1"></app-pre-sale-categories-step-counter>

    <div class="col-12 text-center mb-2 fw-bold fs-5 mt-5">
        {{ "general.Choose-the-additional-categories-you-want" | translate }}
    </div>

    <app-pre-sale-extra-solo-card-item 
        [quantity]="soloValue"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-extra-solo-card-item>

    <app-pre-sale-extra-solo-couple-item 
        [quantity]="coupleValue"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-extra-solo-couple-item>

    <app-pre-sale-extra-solo-group-item 
        [groups]="groupValue"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-extra-solo-group-item>

    <app-pre-sale-totales></app-pre-sale-totales>
    
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <button class="btn btn-one text-uppercase" type="button" (click)="onNext()">
                {{ "general.proceed" | translate }}
            </button>
        </div> 
    </div>


</div>