<div class="presale-steps">
    <div class="row align-items-center">
        <div class="col d-flex align-items-center">
            <div class="avtr">
                <img src="assets/img/cilik/icon-39.png" alt="">
            </div>
            <div>
                <ng-container *ngIf="(profile$ | async); else loading">
                    <div class="fs-2 fw-bold ps-3 d-flex jsutify-content-center flex-column">
                        <div>{{ "general.hello" | translate }} {{ (profile$ | async)?.name | titlecase }}</div>
                        <a routerLink="/pages/dashboard" class="text-rslt fs-6">
                            {{'general.goToDashboard' | translate}}
                        </a>
                        <!-- <a href="javascript:void(0)" class="text-rslt fs-6">Ir al perfil</a> -->
                    </div>
                    
                </ng-container>
            </div>
            
        </div>
        <div class="seprd"></div>
    </div>
</div>  

<ng-template #loading>
    <div class="fs-2 fw-bold ps-3 placeholder-glow">
        <span class="placeholder col-7"></span>
    </div>
</ng-template> 