<div class="modal fade" [id]="_id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>

            <div class="modal-body">
                <div class="container">

                    <div class="row">

                        <h3>{{item?.title | translate}} {{item?.categoryType | translate}}
                        </h3>
                        <p>
                            {{item?.include | translate}}
                        </p>
                        <form [formGroup]="form" novalidate>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">{{item?.totales| currency: 'USD':
                                    'symbol':
                                    '1.2-2' }}</span>
                                <input type="number" class="form-control" placeholder="new amount"
                                    aria-label="new amount" formControlName="newTotal">
                            </div>
                            <div style="color: red;">
                                <div *ngIf="form.controls.newTotal.errors?.required">New Total is required.</div>
                                <div *ngIf="form.controls.newTotal.errors?.min">New Total must be at least $0.</div>
                                <div *ngIf="form.controls.newTotal.errors?.max">New Total must not exceed $10,000.</div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-text">{{'description' | translate}}</span>
                                <textarea lass="form-control" formControlName="description"
                                    aria-label=" description"></textarea>
                            </div>
                            <div style="color: red;">
                                <div *ngIf="form.controls.description.errors?.required">Description is required.</div>
                                <div *ngIf="form.controls.description.errors?.minlength">Description must be at least 10
                                    characters long.</div>
                                <div *ngIf="form.controls.description.errors?.maxlength">Description must not exceed 500
                                    characters.</div>
                            </div>

                        </form>


                    </div>

                </div>
            </div>

            <div
                class="modal-footer d-flex justify-content-center align-items-center justify-content-lg-around flex-wrap">
                <button type="button" class="btn btn-one text-uppercase" (click)="onSubmit()">
                    Update
                    &nbsp;
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-three btn-medium-c text-uppercase" type="button" (click)="closeModal()">
                    <i class="bi bi-x-circle"></i>
                    &nbsp;
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>