<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li (click)="downloadEventCategoriesExcelReport()" class="list-group-item">{{'donwload division' | translate
                | titlecase}}</li>
            <!-- <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li> -->
        </ul>
    </div>
</div>