<div class="card card-custom plan-selection-item">
    <div class="recomendation" *ngIf="item.isRecommended">
        {{'general.recommendedOption' | translate}}
    </div>
    <div class="card-header {{item.headerColor}}">

        <div class="row g-0 align-items-center">
            <div class="col-12 col-md-4 text-center">
                <div class="img-plan"> 
                    <!-- <img [src]="item.img" class="img-fluid py-3" alt="" /> -->
                    <img [src]="item.img" alt="">
                    <div class="typeImg">
                        <img *ngFor="let item of item.icons" [src]="item" alt="">
                    </div>
                </div>
                
                
            </div>

            <div class="col-12 col-md-6">
                <div class="plan-selection-include">
                    <!-- <div class="text-uppercase text-rslt fw-bold fs-4 text-center text-lg-start" [innerHTML]="item.title | translate"></div> -->
                    <div class="text-uppercase text-rslt fw-bold fs-4 text-center text-lg-start">
                        {{item.title | translate}}
                    </div>
                    <div>
                        <span class="fw-bold text-uppercase pe-2">
                            {{'general.include' | translate}}:
                        </span>
                        <span>{{item.include | translate}}</span>
                    </div>
                    <div *ngIf="item.notInclude">
                        <span class="fw-bold text-uppercase">
                            {{'general.notInclude' | translate}}:
                        </span>
                        <span class="mt-3">
                            {{item.notInclude | translate}}
                        </span>
                    </div>
                    <div *ngIf="item.important">
                        <span class="fw-bold text-uppercase">
                            {{'general.important' | translate}}:
                        </span>
                        <span class="mt-3">
                            {{item.important | translate}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 d-flex alingn-items-center justify-content-center justify-content-md-end">
                <button class="btn btn-one btn-small red mt-3 mt-md-0">
                    {{item.wantButton | translate}}
                </button>
            </div>
        </div>
    </div>
</div>