<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="{{ 'general.couponCode' | translate }}" [attr.readOnly]="showLoadingBtn">
    <ng-container *ngIf="(!showLoadingBtn); then renderApplyBtn; else renderLoaderBtn"></ng-container>
</div>

<ng-template #renderApplyBtn>
    <button class="btn btn-sm btn-danger" id="button-apply-coupon" type="button">
        {{'general.apply' | translate}}
    </button>
</ng-template>

<ng-template #renderLoaderBtn>
    <button class="btn btn-sm btn-danger" id="button-apply-coupon" type="button" disabled>
        <div class="text-center">
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </button>
</ng-template>