<div class="card-box card-box-b3 p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12 px-3">
            <p class="card-text text-center mb-0">
                {{item?.label}}
            </p>

            <p class="card-text text-center mb-0">
                Nro. Cuenta:
                <small class="text-muted">
                    {{item?.nrAccount}}
                </small>
            </p>

            <p class="card-text text-center mb-0">
                Razón:
                <small class="text-muted">
                    {{item?.accountTitle}}
                </small>
            </p>

            <p class="card-text text-center mb-0">
                Swift:
                <small class="text-muted">
                    {{item?.swift}}
                </small>
            </p>
        </div>
    </div>
</div>