<div class="card card-box p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12 px-3">
            <div class="d-flex justify-content-between">
                <span class="text-rslt fw-bold fs-5">
                    <i class="bi bi-ticket-perforated"></i>
                    &nbsp;
                    {{item?.title}}
                </span>

                <span class="d-none d-md-block">
                    <i class="bi bi-person-fill"></i>
                    {{item?.capacity}}
                </span>
            </div>
        </div>

        <div class="seprd2"></div>

        <div class="col-12 px-3">

            <p class="m-0 d-block d-sm-none">
                <i class="bi bi-person-fill"></i>
                {{item?.capacity}}
            </p>
            
            <p class="card-text" *ngIf="item?.include">
                Incluye:
                <small class="text-muted">
                    {{item.include}}
                </small>
            </p>
            <p class="card-text" *ngIf="item?.noInclude">
                No Incluye:
                <span class="text-muted">
                    {{item.noInclude}}
                </span>
            </p>

            <p class="card-text" *ngIf="item">
                Fechas:
                <span class="badge bg-danger" [ngClass]="(!isLast) ? 'me-1': ''" *ngFor="let item of item.dates; last as isLast">
                    {{item.date}}
                </span>
            </p>

            <!-- <p class="fw-bold m-0">Subtitulo:</p>
            <div class="seprd m-0 mb-2"></div>
            <p class="m-0">Monto: 0</p>
            <h5 class="pb-3 fw-bold">Total: USD 0</h5>

            <div class="seprd2"></div>

            <p class="m-0 mt-4">
                Monto sin descuento:
                <span class="text-decoration-line-through">USD 0</span>
            </p>
            <p class="m-0">Descuento: USD 0</p> -->

            <div class="d-flex justify-content-between">
                <span class="fs-4 fw-bolder">Total: USD {{totales}}</span>
                <div>
                    <!-- <button type="button" class="btn-icon btn-icon-one">
                        <i class="bi bi-pencil"></i>
                    </button> -->
                    <ng-container *ngIf="(!loader); then renderRemoveBtn; else renderLoader"></ng-container>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #renderRemoveBtn>
    <button type="button" class="btn-icon btn-icon-two" (click)="remove()">
        <i class="bi bi-trash3"></i>
    </button>
</ng-template>

<ng-template #renderLoader>
    <button type="button" class="btn-icon btn-icon-two">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
</ng-template>