<div class="card card-box p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12 px-3">
            <div class="d-flex justify-content-between">
                <!-- <span class="text-rslt fw-bold fs-5">
                    <i class="bi bi-ticket-perforated"></i>
                    &nbsp;
                    {{item?.title | translate}}
                </span> -->
                <span class="text-rslt fw-bold fs-6">
                    <i class="bi bi-person-fill"></i>
                    {{item?.capacity}}
                    |
                    {{item?.title | translate}}
                </span>

                <!-- <span class="d-none d-md-block">
                    <i class="bi bi-person-fill"></i>
                    {{item?.capacity}}
                </span> -->

                <div class="c-icon d-flex align-items-center">
                    <img src="assets/img/icon-ticket-gray.png" alt="">
                </div>
            </div>
        </div>

        <div class="seprd2"></div>

        <div class="col-12 px-3">

            <p class="m-0 d-block d-sm-none">
                <i class="bi bi-person-fill"></i>
                {{item?.capacity}}
            </p>
            
            <p class="card-text mb-0" *ngIf="item?.include">
                {{"general.include" | translate}}:
                <small class="text-muted">
                    {{item.include | translate}}
                </small>
            </p>
            <p class="card-text mb-0" *ngIf="item?.notInclude">
                {{"general.notInclude" | translate}}:
                <small class="text-muted">
                    {{item.notInclude | translate}}
                </small>
            </p>

            <p class="card-text" *ngIf="item">
                Fechas:
                <span class="badge bg-danger" [ngClass]="(!isLast) ? 'me-1': ''" *ngFor="let item of item.dates; last as isLast">
                    {{item.date}}
                </span>
            </p>

            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center align-items-md-center">
                    <span class="fw-bold fs-4">
                        {{"general.total" | translate}}: USD {{totales}}
                    </span>
                </div>
                <div class="text-sm-center">
                    <ng-container *ngIf="(!loader); then renderRemoveBtn; else renderLoader"></ng-container>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #renderRemoveBtn>
    <button type="button" class="btn btn-three btn-small" (click)="remove()">
        {{"general.remove" | translate}}
        <i class="bi bi-trash3"></i>
    </button>
</ng-template>

<ng-template #renderLoader>
    <button type="button" class="btn btn-three btn-small">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">{{"general.loading" | translate}}...</span>
        </div>
    </button>
</ng-template>