<div class="row mt-4">
    <div class="col-12 mb-3" *ngFor="let item of storeOptions">
        <app-store-item-card [item]="item" (click)="onSelectItem(item)"></app-store-item-card>
    </div>
</div>

<app-modal-only-input-number #modalOnlyInputNumber (onCloseModal)="onModalInputNumberResponse($event)"></app-modal-only-input-number>

<app-modal-store-only-categories #modalOnlyCategories (onCloseModal)="onModalCategoriesResponse($event)"></app-modal-store-only-categories>

<app-modal-store-only-day-pass #modalOnlyDayPass (onCloseModal)="onModalDayPassResponse($event)"></app-modal-store-only-day-pass>