<div class="row">

    <app-pre-sale-steps-counter [step]="2"></app-pre-sale-steps-counter>

    <div class="col-12 my-4">
        <app-pre-sale-banner-card-item [orderType]="orderType"></app-pre-sale-banner-card-item>
    </div>

    <div class="col-12 text-center mb-2 fw-bold fs-5 mt-5">
        {{ "additionalsCategoriesStep.title" | translate }}
    </div>

    <app-pre-sale-extra-solo-card-item 
        [quantity]="soloValue"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-extra-solo-card-item>

    <app-pre-sale-extra-solo-couple-item 
        [quantity]="coupleValue"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-extra-solo-couple-item>

    <app-pre-sale-extra-solo-group-item 
        [groups]="groupValue"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-extra-solo-group-item>

    <app-pre-sale-totales></app-pre-sale-totales>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" (click)="onBack()">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate | uppercase}}
            </button>
            <button class="btn btn-one btn-medium-c text-uppercase" type="button" (click)="showCategoriesTerms()">
                {{ "general.continue" | translate | uppercase}}
            </button>
        </div>
    </div>

</div>

<app-pre-sale-modal-only-categories-terms (onCloseModal)="onModalCategoriesTermsClose($event)"></app-pre-sale-modal-only-categories-terms>
