<app-paypal></app-paypal>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-6 mx-auto">
      <div class="card border-0 p-5 my-5">
        <app-header-cilik></app-header-cilik>
        <div class="px-4 px-sm-5">
          <!-- <h2 class="card-title text-center mb-5  fs-5"><b>Ingresar</b></h2> -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-floating form-camp mb-3">
              <!-- <input type="email" [ngClass]="{'valid': valid }" [ngModelOptions]="{standalone: true}" [(ngModel)]="email" (ngModelChange)="modelChangeFn($event)" class="form-control" id="floatingInput" placeholder="name@example.com"> -->

              <input type="email" [ngClass]="{'valid': submit && f.email.errors}" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">E-mail</label>

              <ng-container *ngIf="submit">
                <ng-container *ngFor="let item of vm.email">
                  <span class="badge bg-danger" *ngIf="f.email.hasError(item.type)">
                    {{item.message}}
                  </span>
                  
                </ng-container>
              </ng-container>
            </div>

            <div class="form-floating form-camp mb-3">
              <!-- <input type="password" class="form-control" [ngClass]="{'valid': validPassword }" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" (ngModelChange)="modelChangePassword($event)" id="floatingPassword" placeholder="Password"> -->

              <input type="password" class="form-control" [ngClass]="{'valid': submit && f.email.errors}" formControlName="password" id="floatingPassword" placeholder="Contraseña">
              
              <label for="floatingPassword">Contraseña</label>
              <div class="pass-ico"><i class="bi bi-eye-slash"></i></div>
              <ng-container *ngIf="submit">
                <ng-container *ngFor="let item of vm.password">
                  <span class="badge bg-danger" *ngIf="f.password.hasError(item.type)">
                    {{item.message}}
                  </span>
                  
                </ng-container>
              </ng-container>
            </div>

            <!-- <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div> -->
            <div class="d-flex justify-content-center">
              
              <ng-container *ngIf="submit && loading; else canSubmit">
                <button class="btn btn-one btn-large text-uppercase fw-bold" type="button" disabled>
                  <div class="text-center">
                    <div class="spinner-border spinner-border-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </button>
              </ng-container>

              <ng-template #canSubmit>
                <button class="btn btn-one btn-large text-uppercase fw-bold" type="submit">Ingresar</button>
              </ng-template>

            </div>
            <div class="d-flex justify-content-center">
              <div class="">¿Olvidaste tu contraseña?</div>
            </div>
            <div class="seprd"></div>
            <div class="d-flex justify-content-center flex-column align-items-center mb-2">
                <div class="pb-2">¿Aún no estás registrado?</div>
                <a class="btn btn-two btn-large" routerLink="/sign-up">REGISTRARSE AQUÍ</a>
              <!-- <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                <i class="fab fa-google me-2"></i> Sign in with Google
              </button> -->
            </div>
            <!-- <div class="d-grid">
              <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </button>
            </div> -->
          </form>
        </div>
        <app-footer-cilik></app-footer-cilik>
      </div>
    </div>
  </div>
</div>

