<div class="row">
    <div class="col text-center mb-3">
        <div class="fs-4 fw-bold">
            Bank Transfer
        </div>
    </div>
</div>

<app-purchase-list [query]="query" [opts]="opts" redirectTo="/admin/bank-transfer/$/manager"></app-purchase-list>


<div class="col-12">
    <div class="d-flex justify-content-between">
        <button class="btn btn-three btn-medium-c text-uppercase" type="button" routerLink="/admin/dashboard">
            <i class="bi bi-chevron-left"></i>
            {{ "general.back" | translate }}
        </button>
    </div>
</div>