<div class="row">

    <app-pre-sale-event-pass-step-counter [step]="1"></app-pre-sale-event-pass-step-counter>

    <div class="col-12 my-4">
        <app-pre-sale-banner-card-item [orderType]="'eventPass'"></app-pre-sale-banner-card-item>
    </div>

    <div class="col-12 text-center mb-2 fw-bold fs-5 mt-5">
        Elige las pases al evento que deseas
    </div>

    <app-pre-sale-only-event-pass-card-item 
        [quantity]="nroParticipants"
        [price]="eventPassPrice"
        (onUpdateQuantity)="onUpdateQuantity($event)"></app-pre-sale-only-event-pass-card-item>

    <app-pre-sale-totales></app-pre-sale-totales>
    
    
    <div class="col-12">
        <div class="d-flex justify-content-between flex-column flex-md-row align-items-center">
            <div class="order-2 order-md-1 w100">
                <app-remove-order-on-back-button></app-remove-order-on-back-button>
            </div>
            
           
            <button class="btn btn-one text-uppercase mb-4 mb-sm-0 order-1 order-md-2 mb-3 mb-md-0" type="button" (click)="onNext()">
                {{ "general.continue" | translate | uppercase}}
            </button>
            
        </div> 
    </div>


</div>