<div class="card card-box p-3 mb-3">
  <div class="container px-1">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-12">
        <h4 class="fw-bold fs-5 text-rslt fw-bold mb-3">
          {{ "general." + division.categoryType | translate | uppercase }}
        </h4>
      </div>

      <!-- Select Category Button -->
      <div class="col-12 col-md-6 mb-4 pe-md-3">
        <!-- <span class="fw-bold me-2 fs-5"> -->
        <!-- {{ "category.additionalData" | translate }}: -->
        <!-- Categoría:
          </span> -->
        <button
          type="button"
          class="btn btn-one btn-full"
          (click)="launchFindAditionalDataModal()"
        >
          <!-- {{ form.value ? ("X" | translate) : ("general.add" | translate) }} -->
          <!-- <i class="bi bi-hand-index-thumb"></i>  -->
          <!-- {{ "general.add" | translate }} -->
          {{ "selectCategory" | translate }}
        </button>
      </div>

      <!-- Find Users Button -->
      <div class="col-12 col-md-6 mb-4 ps-md-3">
        <button
          type="button"
          class="btn btn-one btn-full"
          (click)="launchFindUserModal()"
          [disabled]="!addCompetitoresButton ? true : null"
          [ngClass]="!addCompetitoresButton ? 'btn-disbled' : ''"
        >
          <!-- {{ form.value.users ? ("general.completed" | translate) : ("category.addUser" | translate) }} -->
          {{ "category.addUser" | translate }}
        </button>
        <!-- <div class="d-flex align-items-center justify-content-center flex-column">
          add user:
          <span class="fw-bold me-2 fs-5">
            {{ "category.addUser" | translate }}:
          </span>

          
        </div> -->
      </div>

      <div class="col-12">
        <div class="">
          <span class="fw-bold me-2 fs-5 text-rslt">
            {{ "category.addMusic" | translate }}
          </span>
          <app-custom-input-file
            class="claim-category"
            [accept]="'audio/*'"
            (onSelectFile)="onSelectMusicFile($event)"
          ></app-custom-input-file>
        </div>
      </div>

      <!-- <div class="col-12">
        <div class="">
          <span class="fw-bold me-2 fs-5 text-rslt">
            {{ "category.addphoto" | translate }}
          </span>
          <app-custom-input-file class="claim-category" [accept]="'imagen/*'" (onSelectFile)="onSelectPhotoFile($event)"></app-custom-input-file>
        </div>
      </div> -->

      <div>
        <div class="card">
          <div class="card-header">
            <span class="fw-bold text-rslt me-2 fs-4">
              {{ "category.register" | translate | titlecase }}
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5">
                    {{ "category.division" | translate | titlecase }}:
                  </span>
                  <p>
                    {{ form.value.division.id_sub_categoria | uppercase }}
                    {{ form.value.division.sub_categoria | uppercase }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5">
                    {{ "general.country" | translate | titlecase }}:
                  </span>
                  <p>
                    {{ form.value?.country?.name | titlecase }} -
                    {{ form.value?.state?.name | titlecase }} -
                    {{ form.value?.city?.name | titlecase }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5">
                    {{ "general.school" | translate }}:
                  </span>
                  <p>
                    {{ form.value.school?.name_institution | titlecase }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5"> Instagram: </span>
                  <p>
                    {{ form.value?.instagram }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5"> Facebook: </span>
                  <p>
                    {{ form.value?.facebook }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5">
                    {{
                      "category.creatorOfTheChoreography"
                        | translate
                        | titlecase
                    }}:
                  </span>
                  <p>
                    {{ form.value?.choreographyCreator }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-4">
                <div class="item-info">
                  <span class="fw-bold me-2 fs-5">
                    {{ "category.trainersName" | translate | titlecase }}:
                  </span>
                  <p>
                    {{ form.value?.nameCoach }}
                  </p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-6"></div>
              <div class="col-12 col-md-6 col-xl-6"></div>
            </div>

            <ng-container *ngIf="form.value.users?.length > 0">
              <div class="fw-bold mt-3 mb-2">
                {{ "general.participants" | translate }}
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ "name" | translate | titlecase }}</th>
                      <th scope="col">{{ "email" | translate | titlecase }}</th>
                      <th scope="col">
                        {{ "document" | translate | titlecase }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of form.value.users; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ user.name | titlecase }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.identification }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>

            <div *ngIf="form.value.music" class="d-flex justify-content-center">
              <app-audio-player [audio]="form.value.music"></app-audio-player>
            </div>

            <div
              class="card-box p-2 mt-2"
              *ngIf="form.value.users?.length === 0"
            >
              {{ "general.noRegisteredUsers" | translate }}.
            </div>
          </div>

          <div class="card-footer text-body-secondary">
            {{ "general.note" | translate }}:
            {{ "category.registerConfirmed" | translate }}
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <button (click)="save()" type="button" class="btn btn-danger">
          <i class="bi bi-save"></i>
          &nbsp;
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <app-claim-search-category #modalFindDivision [ownerType]="'ambassador'"
  (onCloseModal)="onSelectDivision($event)"></app-claim-search-category> -->

<app-claim-search-user
  #modalFindUser
  [_id]="'modalClaimAddUser' + division._index"
  [ownerType]="'ambassador'"
  [itemData]="division"
  (onCloseModal)="onSelectUser($event)"
></app-claim-search-user>

<!-- <app-claim-search-country-city #modalFindCountryCity [ownerType]="'ambassador'"
  (onCloseModal)="onSelectCountryCity($event)"></app-claim-search-country-city> -->

<!-- <app-claim-search-school #modalFindSchool [ownerType]="'ambassador'"
  (onCloseModal)="onSelectSchool($event)"></app-claim-search-school> -->

<app-additional-data
  #modalFindAditionalData
  [_id]="'modalAdditionalDataFindOwner' + division._index"
  [ownerType]="'ambassador'"
  (onCloseModal)="onSelectAdditionalData($event)"
></app-additional-data>
