<div class="d-flex">
    <div>
        <span class="dsaincsao">English</span>
        <div class="btn-navbar-languaje d-flex justify-content-center align-items-center me-3 cmiasda" (click)="changeLanguage('en')">
            <img src="assets/images/index/united-kingdom.png" alt="">
        </div>
    </div>
    <div>
        <span class="dsaincsao">Español</span>
        <div class="btn-navbar-languaje d-flex justify-content-center align-items-center cmiasda" (click)="changeLanguage('es')">
            <img src="assets/images/index/spain.png" alt="">
        </div>
    </div>
</div>