<div class="d-flex">
    <div class="btn-navbar-languaje d-flex justify-content-center align-items-center me-3 cmiasda" (click)="changeLanguage('en')">
        <img src="assets/images/index/reino-unido.png" alt="">
        <span class="dsaincsao">English</span>
    </div>
    <div class="btn-navbar-languaje d-flex justify-content-center align-items-center cmiasda" (click)="changeLanguage('es')">
        <img src="assets/images/index/espana.png" alt="">
     <span class="dsaincsao">Español</span>
    </div>
</div>