<div class="card card-box p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12 px-3">
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-rslt fw-bold fs-5">
                    Plan Oficial WLDC
                </span>

                <span class="text-end">
                    Orden de compra #:
                    <br>
                    {{order?.id || '084H36BT'}}
                </span>
            </div>
        </div>
        <div class="seprd2"></div>
        <div class="col-12 px-3">
            <p class="m-0">
                Ver detalle de la compra.
            </p>
            <div class="d-flex justify-content-end">
                <button class="btn btn-one" type="button">
                    ADICIONAR HABITACIÓN
                </button>
            </div>
        </div>
    </div>
</div>