<div class="row mt-5 g-2">
    <div class="col-12">
        <form [formGroup]="form" novalidate>
            <div class="mb-3">
                <label for="role" class="form-label">Type Email to Search:</label>
                <input type="text" class="form-control" formControlName="profile" placeholder="email@example.com" aria-describedby="emailHelp">
            </div>
        </form>
    </div>
    <!-- <div class="col-12 text-center">
        <button class="btn btn-sm btn-danger" type="button" (click)="addRole()">
            <i class="bi bi-plus-circle"></i>
            Add Role
        </button>
    </div> -->
    <hr>
    <ng-container *ngIf="(profiles$ | async) as profiles; else loading">
        <ng-container *ngIf="profiles.length > 0; else noProfiles">
            <div class="col-12" *ngFor="let profile of profiles">
                <i class="bi bi-key fs-4"></i>
                <span>
                    {{ profile | json }}
                </span>
                <!-- <app-permission-roles-remove [role]="role"></app-permission-roles-remove> -->
            </div>
        </ng-container>
    </ng-container>

</div>

<!-- <app-permission-roles-add></app-permission-roles-add> -->
<!-- <app-permission-roles-update></app-permission-roles-update> -->

<ng-template #noProfiles>
    <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
            No profile found.
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="col-12 text-center placeholder-glow" *ngFor="let item of [1,1,1,1]">
        <span class="placeholder col-12" style="height: 36px;"></span>
    </div>
</ng-template>