<div class="row">

    <app-pre-sale-steps-counter [step]="3"></app-pre-sale-steps-counter>

    <div class="col-12 text-center mb-2 mt-5">
        {{ "paymentMethods.paymentByInstallment" | translate }}
    </div>

    <div class="col-12 mb-4">
        <app-pre-sale-installment-couta-card-item [index]="currentCoutaToPay.nro" 
            [item]="currentCoutaToPay"></app-pre-sale-installment-couta-card-item>
    </div>

   

    <div class="col-12 text-center mt-2" *ngIf="loading">
        <div  class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br>
    {{ "general.loadingTransaction" | translate }}...
    </div>

    <ng-container *ngIf="formStatus == 1 && !loading">
        <div class="col-12 text-center mb-2">
            {{ "paymentMethods.chooseYourPaymentMethod" | translate }}
        </div>
    
        <div class="col-12 mb-4">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-8 col-md-6 mb-4">
                    <div class="d-flex flex-column align-items-center justify-content-center">
    
                        <button class="btn btn-payment btn-lg mb-3" 
                            type="button" *ngFor="let item of paymentMethods"   
                            [ngClass]="{'active': item.value === paymentMethodType}"
                            [disabled]="!item.status"
                            (click)="selectPaymentMethod(item)">
                            <span class="icon-payment"><i [class]="item.icon"></i>&nbsp;</span>
                            <span class="label-payment">
                                {{item.label | translate | titlecase}}
                            </span>
                        </button>
    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-between">
                <button class="btn btn-three text-uppercase" type="button" (click)="onBack()">
                    <i class="bi bi-chevron-left"></i>
                    {{ "general.back" | translate | uppercase }}
                </button>
                <button class="btn btn-one text-uppercase" type="button" [disabled]="!paymentMethodType" (click)="formStatus = 2">
                    {{ "general.continueToPay" | translate | uppercase}}
                </button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="formStatus == 2">

        <ng-container *ngIf="paymentMethodType == 'paypal'">
            <div class="col-12 mb-4 text-center">
                <app-paypal 
                    [amount]="currentCoutaToPay.amount"
                    (onCancel)="onPaypalResponse({type: 'cancel', data: $event})"
                    (onError)="onPaypalResponse({type: 'error', data: $event})"
                    (onComplete)="onPaypalResponse({type: 'success', data: $event})"
                ></app-paypal>
            </div>
        </ng-container>


        <div class="col-12">
            <div class="d-flex justify-content-between">
                <button class="btn btn-three text-uppercase" type="button" (click)="formStatus = 1">
                    <i class="bi bi-chevron-left"></i>
                    {{ "general.back" | translate | uppercase }}
                </button>
                <!-- <button class="btn btn-one" type="button" [disabled]="!paymentMethodType" (click)="onNext()">
                    CONTINUAR AL PAGO
                </button> -->
            </div>
        </div>
    </ng-container>



</div>


<app-pre-sale-modal-bank-transfer-detail  (onUpdateTransfer)="crearteOrderBankTransfer($event)"  ></app-pre-sale-modal-bank-transfer-detail>
