<div class="row">
    <div class="col-12">
        <form [formGroup]="form" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="query" placeholder="Coupon Code">
                <label for="couponCodeInput">Search by Coupon Code</label>
            </div>
        </form>
    </div>
    <div class="col-12 text-center mb-4">
        <button class="btn btn-danger" type="button" (click)="launchAddCouponForm()">
            <i class="bi bi-plus-circle"></i>
            &nbsp;
            Add
        </button>
    </div>

    <div class="col text-center mb-4">
        <div class="fs-4 fw-bold mb-2">
            List
        </div>
        <div class="seprd2"></div>
    </div>


    <ng-container *ngIf="(coupons$ | async) as list; else renderLoaderList" [ngTemplateOutlet]="renderCheckList"
        [ngTemplateOutletContext]="{list: list}"></ng-container>

</div>

<ng-template #renderList let-list="list">
    <div class="col-12" *ngFor="let item of list">
        <div class="card card-box p-3 mb-3">
            <div class="row g-2 d-flex align-items-center">
                <div class="col-12 px-3">
                    <div class="d-flex justify-content-between" (click)="copy(item)">
                        <span class="text-rslt fw-bold fs-5">
                            <i class="bi bi-ticket-perforated"></i>
                            &nbsp;
                            {{item.slug | uppercase}}
                        </span>
                    </div>
                </div>

                <div class="seprd2"></div>

                <div class="col-12 px-3">
                    <div class="row m-0 mb-1">
                        <div class="col-12 col-md-4 m-0 p-0">
                            <p class="card-text">
                                Owner:
                                <ng-container [ngSwitch]="item.ownerType">
                                    <small class="text-muted" *ngSwitchCase="'academy'">Academy</small>
                                    <small class="text-muted" *ngSwitchCase="'ambassador'">Academy</small>
                                </ng-container>
                            </p>
                        </div>

                        <div class="col-12 col-md-4 m-0 p-0">
                            <p class="card-text text-md-center">
                                Type:
                                <br>
                                <!-- <ng-container [ngSwitch]="item.type">
                                    <small class="text-muted" *ngSwitchCase="'percentage'">Percentage</small>
                                    <small class="text-muted" *ngSwitchCase="'amount'">Amount</small>
                                </ng-container> -->
                                <ng-container *ngFor="let x of item.coupons">
                                    <small class="text-muted">{{x.concept}}:
                                        <ng-container [ngSwitch]="x.type">
                                            <span class="fs-4 fw-bolder" *ngSwitchCase="'percentage'">
                                                {{x.value}}%
                                            </span>
                                            <span class="fs-4 fw-bolder" *ngSwitchCase="'amount'">
                                                {{x.value}} USD
                                            </span>
                                        </ng-container> 
                                    </small><br>

                                </ng-container>
                            </p>
                        </div>

                        <div class="col-12 col-md-4 m-0 p-0">
                            <p class="card-text text-md-end">
                                {{'general.status' | translate | titlecase}}:
                                <span class="badge bg-danger">{{((item.status === true) ? 'general.available' :
                                    'general.unavailable') | translate | uppercase}}</span>
                            </p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">

                        <ng-container [ngSwitch]="item.type">
                            <span class="fs-4 fw-bolder" *ngSwitchCase="'percentage'">{{item.value}}%</span>
                            <span class="fs-4 fw-bolder" *ngSwitchCase="'amount'">{{item.value}} USD</span>
                        </ng-container>
                        <div>
                            <button type="button" class="btn-icon btn-icon-two" (click)="removeCoupon(item)">
                                <i class="bi bi-trash"></i>
                            </button>
                            &nbsp;
                            <button type="button" class="btn-icon btn-icon-two" (click)="goToEdit(item)">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #renderCheckList let-list="list">
    <ng-container *ngIf="list.length > 0; else renderNoRecords" [ngTemplateOutlet]="renderList"
        [ngTemplateOutletContext]="{list: list}"></ng-container>
</ng-template>


<ng-template #renderNoRecords>
    <div class="col-12 mb-4">
        <div class="card-box card-box-b3 p-3 mb-3">
            <h5 class="text-center">
                No records found
            </h5>
        </div>
    </div>
</ng-template>


<ng-template #renderLoaderList>
    <div class="col-12" *ngFor="let item of [1,1,1,1]">
        <div class="card card-box p-3 mb-3">
            <div class="row g-2 d-flex align-items-center">
                <div class="col-12 px-3">
                    <h5 class="card-title fw-bolder text-rslt placeholder-glow">
                        <span class="placeholder placeholder-lg col-12"></span>
                    </h5>
                </div>

                <div class="seprd2"></div>

                <div class="col-12 px-3">

                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-12"></span>
                    </p>

                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-12"></span>
                    </p>

                    <div class="d-flex justify-content-between">
                        <div class="fs-4 fw-bolder placeholder-glow">
                            <span class="placeholder col-12" style="width: 10rem; height: 32px;"></span>
                        </div>
                        <div>
                            <a href="#" tabindex="-1" class="btn-icon btn-icon-two disabled placeholder col-4"
                                aria-hidden="true"></a>
                            &nbsp;
                            <a href="#" tabindex="-1" class="btn-icon btn-icon-two disabled placeholder col-4"
                                aria-hidden="true"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>