<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Ventas: {{totals?.globalTotalToPay | currency}}</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Descuentos: {{totals?.globalDiscount | currency}} </h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary">Ganacias: 0</a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">count</th>
                        <th scope="col">total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of totalForItemList">
                        <th scope="row">{{item.key}}</th>
                        <th>{{item.count}}</th>
                        <th>{{item.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>