<div class="row">

    <app-pre-sale-steps-counter [step]="3"></app-pre-sale-steps-counter>

    <div class="col-12 text-center mb-2 mt-5">
        Pago por cuotas
    </div>

    <ng-container *ngIf="installments; else loading">
        <div class="col-12 mb-4" *ngFor="let item of installments">
            <app-pre-sale-installment-couta-card-item [index]="item.nro" [item]="item"></app-pre-sale-installment-couta-card-item>
        </div>
    </ng-container>

    <ng-template #loading>
        <div class="col-12 mb-4" *ngFor="let item of [1,1,1,1]">
            <div class="card card-box p-3 mb-3">
                <div class="row g-2 d-flex align-items-center">
                    <div class="col-12">
                        <div class="d-flex justify-content-between placeholder-glow">
                            <span class="text-rslt fw-bold fs-5 placeholder col-7"></span>
                        </div>
                    </div>
                    <div class="col-12 m-0">
                        <hr>
                    </div>
                    <div class="col-12 col-md-6 placeholder-glow">
                        <span class="fw-bold d-flex align-items-center placeholder col-7"></span>
                    </div>
                    <div class="col-12 col-md-6">
                        <h5 class="text-end fw-bolder placeholder-glow">
                            <span class="placeholder col-7"></span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three" type="button" (click)="onBack()">
                <i class="bi bi-chevron-left"></i>
                REGRESAR
            </button>
            <button class="btn btn-one" type="button" (click)="onNext()">
                PAGAR CUOTA 1
            </button>
        </div>
    </div>

</div>
