<div class="modal fade modalTCcategoriasAdd" id="modalTCcategoriasA" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTCcategoriasALabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="logo mb-3">
                                <img src="assets/img/cilik/logo.png" alt="">
                            </div>
                            <h5 class="text-center fw-bolder mb-4">
                                Términos y condiciones - Categorías adicionales
                            </h5>
                            <ul>
                                <li>
                                    <span class="fw-bold">
                                        Por la compra del plan todo incluido los competidores reciben una (1) categoría sin costo.
                                    </span>
                                    <br>En caso de querer competir en más de una categoría deberá comprar categorías adicionales.
                                </li>
                                <li>
                                    Todos los asistentes y todos los competidores del WLDC 2023 deberán comprar un plan todo incluido 
                                    y estar hospedados en el hotel oficial de la competencia, Hotel Las Américas Cartagena, Colombia.
                                </li>
                                <li>
                                    Todos los competidores y acompañantes deberán alojarse en el hotel oficial del evento sin excepción.
                                </li>
                                <li>
                                    Todos los competidores y acompañantes deben adquirir el plan todo incluido y las categorías adicionales 
                                    únicamente a través de la aplicación oficial del evento.
                                </li>
                                <li>
                                    No se hará devolución de dinero correspondiente a la compra de categorías adicionales WLDC 2023.
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-three p-2" (click)="closeModal(false)">
                    NO, aún no cuento con<br> un plan todo incluido
                </button>
                <button type="button" class="btn btn-one p-2" (click)="closeModal(true)">
                    SÍ, ya cuento con un<br> plan todo incluido
                </button>
            </div>
        </div>
    </div>
</div>