<div class="row">

    <div class="row">
        <div class="col text-center mb-3">
            <div class="fs-4 fw-bold">
                My Sales Dashboard
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-my-sales-dashboard></app-my-sales-dashboard>
    </div>

    <div class="row">
        <div class="col text-center mb-3">
            <div class="fs-4 fw-bold">
                My Sales
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-my-sales-list></app-my-sales-list>
    </div>
</div>