.card{
    border: 1px solid #e7344c;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 5px #d4d4d4;
    text-decoration: none;
    margin-bottom: 10px;
}