<!-- <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 rounded-3 p-3 p-lg-4 my-3 my-lg-5">
        <app-language-bar></app-language-bar>

        <div class="p-4 p-sm-5">
          <h2 class="card-title text-center mb-5  fs-5">
            <b>
            {{ "general.recoveredPassword" | translate }}
           </b>
          </h2>

          <form [formGroup]="form">

            <ng-container *ngIf="formStatus == 1">
              <div class="form-floating mb-3">
                <input type="email" [ngClass]="{'valid': submit && f.email.errors}" formControlName="email" class="form-control" id="floatingEmailInput" placeholder="email@example.com">
                <label for="floatingEmailInput">
                  {{ "recoveredPasswordStep.emailInputLabel" | translate }} <span class="text-danger">*</span>
                </label>

                <ng-container *ngIf="submit">
                  <ng-container *ngFor="let item of vm.email">
                    <span class="badge bg-danger" *ngIf="f.email.hasError(item.type)">
                      {{item.message | translate}}
                    </span>
                  </ng-container>
                </ng-container>
              </div>

              <div class="mb-4">
                <label for="email" class="form-label">
                    <span class="text-danger">*</span>
                    {{ "recoveredPasswordStep.SendVerificationCodeLabel" | translate }}
                </label>
                <div class="d-flex justify-content-center flex-column align-items-center my-2">
                  <a href="javascript:void(0)" class="btn btn-one btn-large" (click)="sendCode($event)">
                    {{ "general.send" | translate | uppercase}}
                    
                  </a>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="formStatus == 2">
              <div class="form-floating mb-3" *ngIf="formStatus == 2">
                <input type="password" [ngClass]="{'valid': submit && f.password.errors}" formControlName="password" class="form-control" id="floatingPasswordInput" placeholder="******">
                <label for="floatingPasswordInput">{{ "general.password" | translate }}</label>

                <ng-container *ngIf="submit">
                  <ng-container *ngFor="let item of vm.password">
                    <span class="badge bg-danger" *ngIf="f.password.hasError(item.type)">
                      {{item.message | translate}}
                    </span>
                  </ng-container>
                </ng-container>
              </div>

              <div class="form-floating mb-3" *ngIf="formStatus == 2">
                <input type="password" [ngClass]="{'valid': submit && f.confirmPassword.errors}" formControlName="confirmPassword" class="form-control" id="floatingConfirmPasswordInput" placeholder="******">
                <label for="floatingConfirmPasswordInput">
                  {{ "recoveredPasswordStep.repeatPassword" | translate }}
                </label>

                <ng-container *ngIf="submit">
                  <ng-container *ngFor="let item of vm.confirmPassword">
                    <span class="badge bg-danger" *ngIf="f.confirmPassword.hasError(item.type)">
                      {{item.message | translate}}
                    </span>
                  </ng-container>
                </ng-container>
              </div>

              <div class="mb-4">
                <div class="d-flex justify-content-center flex-column align-items-center my-2">
                  <a href="javascript:void(0)" class="btn btn-one btn-large text-uppercase" [ngClass]="{'disabled': submit && loader}" (click)="onSubmit()">

                    <ng-container *ngIf="!loader; else renderSendingForm">
                      {{ "general.update" | translate | uppercase }}
                    </ng-container>

                    <ng-template #renderSendingForm>
                      <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">{{ "general.loading" | translate }}...</span>
                      </div>
                    </ng-template>

                  </a>

                </div>
              </div>
            </ng-container>

            

            

          </form>

          <div class="d-flex justify-content-center flex-column align-items-center my-2">
            <a class="btn btn-two btn-large text-uppercase" routerLink="/sign-in">
              {{ "general.back" | translate }}
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="px-4 px-sm-5">
  <h2 class="card-title text-center mb-5  fs-5">
    <b>{{ "general.recoveredPassword" | translate }}</b>
  </h2>

  <form [formGroup]="form">
    <ng-container [ngSwitch]="formStatus">
      <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="renderEmailForm"></ng-container>
      <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="renderPasswordForm"></ng-container>
    </ng-container>
  </form>

  <div class="d-flex justify-content-center flex-column align-items-center my-2">
    <a class="btn btn-two btn-large text-uppercase" routerLink="/sign-in">
      {{ "general.back" | translate }}
    </a>
  </div>
</div>

<ng-template #renderPasswordForm [formGroup]="form">
  <div class="form-floating mb-3">
    <input type="password" [ngClass]="{'valid': submit && f.password.errors}" formControlName="password"
      class="form-control" id="floatingPasswordInput" placeholder="******">
    <label for="floatingPasswordInput">{{ "general.password" | translate }}</label>

    <ng-container *ngIf="submit" [ngTemplateOutlet]="renderFormVM" [ngTemplateOutletContext]="{field: 'password'}"></ng-container>
  </div>

  <div class="form-floating mb-3">
    <input type="password" [ngClass]="{'valid': submit && f.confirmPassword.errors}" formControlName="confirmPassword"
      class="form-control" id="floatingConfirmPasswordInput" placeholder="******">
    <label for="floatingConfirmPasswordInput">{{ "recoveredPasswordStep.repeatPassword" | translate }}</label>
    <ng-container *ngIf="submit" [ngTemplateOutlet]="renderFormVM" [ngTemplateOutletContext]="{field: 'confirmPassword'}"></ng-container>
  </div>

  <div class="mb-4">
    <div class="d-flex justify-content-center flex-column align-items-center my-2">
      <a href="javascript:void(0)" class="btn btn-one btn-large text-uppercase"
        [ngClass]="{'disabled': submit && loader}" (click)="onSubmit()">

        <ng-container *ngIf="!loader; else renderSendingForm">
          {{ "general.update" | translate | uppercase }}
        </ng-container>

      </a>
    </div>
  </div>
</ng-template>

<ng-template #renderEmailForm [formGroup]="form">
  <div class="form-floating mb-3 text-center">
    <input type="email" [ngClass]="{'valid': submit && f.email.errors}" formControlName="email" class="form-control"
      id="floatingEmailInput" placeholder="email@example.com">
    <label for="floatingEmailInput">
      {{ "recoveredPasswordStep.emailInputLabel" | translate }} <span class="text-danger">*</span>
    </label>

    <ng-container *ngIf="submit" [ngTemplateOutlet]="renderFormVM" [ngTemplateOutletContext]="{field: 'email'}"></ng-container>
  </div>

  <div class="mb-4">
    <label for="email" class="form-label">
      {{ "recoveredPasswordStep.SendVerificationCodeLabel" | translate }}
      <span class="text-danger">*</span>
    </label>
    <div class="d-flex justify-content-center flex-column align-items-center my-2">
      <a href="javascript:void(0)" class="btn btn-one btn-large" (click)="sendCode($event)">
        {{ "general.send" | translate | uppercase}}
      </a>
    </div>
  </div>
</ng-template>

<ng-template #renderSendingForm>
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">{{ "general.loading" | translate }}...</span>
  </div>
</ng-template>

<ng-template #renderFormVM let-field="field">
  <ng-container *ngFor="let item of vm[field]">
    <span class="badge bg-danger" *ngIf="f[field].hasError(item.type)">
      {{ item.message | translate }}
    </span>
  </ng-container>
</ng-template>