<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 rounded-3 my-5">
          <div class="p-4 p-sm-5">
            <h2 class="card-title text-center mb-5  fs-5"><b>Recuperar Contrasenna</b></h2>
            <form>
                <div class="form-floating mb-3" *ngIf="checkEmailStatus === 0 || checkEmailStatus === 1 ">
                    <input type="email" [ngClass]="{'valid': valid }" [ngModelOptions]="{standalone: true}" [(ngModel)]="datad.email" (ngModelChange)="saverange($event)" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Ingrese su correo electronico registrado</label>
                    <span *ngIf="valid" class="badge bg-danger">Correo electronico ingresado no es valido</span>
                    <span *ngIf="validUser" class="badge bg-danger">Usuario no registrado</span>
                </div>
                <div class="d-grid" *ngIf="checkEmailStatus === 1">
                    <label for="email" class="form-label">
                        <span class="text-danger">*</span>
                        Enviar codigo de verificacion
                    </label>
                    <button class="btn btn-primary" (click)="prueba()" type="button">send</button>
                </div>
                <br>
                <div class="form-floating mb-3" *ngIf="checkEmailStatus === 2">
                    <input type="password" class="form-control" [ngClass]="{'valid': validPassword }" [(ngModel)]="datad.password" [ngModelOptions]="{standalone: true}" (ngModelChange)="modelChangePassword($event)" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">New Password</label>
                    <span *ngIf="validPassword" class="badge bg-danger">password ingresado no es valido</span>
                    <span *ngIf="validPasswordEquals" class="badge bg-danger">password no son iguales</span>
                </div>
                <div class="form-floating mb-3" *ngIf="checkEmailStatus === 2">
                    <input type="password" class="form-control" [ngClass]="{'valid': validPassword }" [(ngModel)]="datad.repeatPassword" [ngModelOptions]="{standalone: true}" (ngModelChange)="modelChangePassword($event)" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Repeat New Password</label>
                    <span *ngIf="validRepeatPassword" class="badge bg-danger">password ingresado no es valido</span>
                    <span *ngIf="validPasswordEquals" class="badge bg-danger">password no son iguales</span>
                </div>
                <div class="d-grid" *ngIf="checkEmailStatus === 2">
                    <button (click)="openPopup()" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Actualizar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>