<div class="container-lg">
    <div class="fs-2 fw-bold text-center mb-3">
        {{'general.listOrders' | translate}}
    </div>

    <div class="col-12">
        <nav class="mb-3">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-permission-roles-tab" data-bs-toggle="tab" data-bs-target="#nav-pending"
                    type="button" role="tab" aria-controls="nav-permission-roles" aria-selected="true"> Ordenes pendientes</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-completed"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ordenes completados</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-rejected"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> Ordenes rechazado</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" >
                <ng-container *ngIf="listOrdersPending.length > 0; else noPurchases">
                    <div class="col-12 mb-4" *ngFor="let item of listOrdersPending">
                        <app-my-purchases-list-item [order]="item" (onShowDetails)="onShowDetails($event)"></app-my-purchases-list-item>
                    </div>
                </ng-container>
            </div>

            <div class="tab-pane fade" id="nav-completed" role="tabpanel" >
                <ng-container *ngIf="listOrdersCompleted.length > 0; else noPurchases">
                    <div class="col-12 mb-4" *ngFor="let item of listOrdersCompleted">
                        <app-my-purchases-list-item [order]="item" (onShowDetails)="onShowDetails($event)"></app-my-purchases-list-item>
                    </div>
                </ng-container>
            </div>

            <div class="tab-pane fade" id="nav-rejected" role="tabpanel" >
               <ng-container *ngIf="listOrdersRejected.length > 0; else noPurchases">
                    <div class="col-12 mb-4" *ngFor="let item of listOrdersRejected">
                        <app-my-purchases-list-item [order]="item" (onShowDetails)="onShowDetails($event)"></app-my-purchases-list-item>
                    </div>
                </ng-container>
            </div>
            <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
        </div>
    </div>
    
        
    
    
    <div *ngIf="show">
        <app-purchase-summary-modal-details></app-purchase-summary-modal-details>
    </div>
    
    <ng-template #noPurchases>
        <div class="col-12 mb-4">
            <div class="card card-box p-3 mb-3">
                <div class="row g-2 d-flex align-items-center">
                    <div class="col-12 px-3">
                        <p class="m-0 text-center">
                           {{'general.noPurchases' | translate}} 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    
    <div *ngIf="loading">
        <div class="col-12 mb-4" *ngFor="let item of [1,1,1]">
            <div class="card card-box p-3 mb-3">
                <div class="row g-2 d-flex align-items-center">
                    <div class="col-12 px-3 d-flex justify-content-between placeholder-glow">
                        <span class="placeholder bg-danger col-5" style="height: 36px;"></span>
                        <span class="placeholder col-5" style="height: 36px;"></span>
                    </div>
                    <div class="seprd2"></div>
                    <div class="col-12 px-3">
                        <p class="m-0 placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </p>
                        <div class="d-flex justify-content-end">
                            <a href="#" tabindex="-1" class="btn btn-one disabled placeholder col-6"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>