<div class="row">

    <ng-container *ngIf="(cart?.product.length > 0); then renderCart; else renderEmptyCart"></ng-container>

    <div class="seprd2"></div>

    <div class="col-12 mt-4 mb-5">
        <h5 class="fw-bold fs-3 text-end">
            Total: USD {{totales}}
        </h5>
    </div>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" routerLink="/pages/dashboard">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate }}
            </button>

            <button class="btn btn-one btn-medium-c text-uppercase" [ngClass]="{'disabled': totales === 0}" type="button">
                Pagar
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
</div>


<ng-template #renderCart>
    <div class="col-12 mb-4" *ngFor="let item of cart.product">
        <ng-container [ngSwitch]="item.slug">
            <app-cart-fullpass-card-item *ngSwitchCase="'full-pass'" [item]="item" (onRemoveItem)="onRemoveItem($event)"></app-cart-fullpass-card-item>
            <app-cart-category-pass-card-item *ngSwitchCase="'category-pass'" [item]="item" (onRemoveItem)="onRemoveItem($event)"></app-cart-category-pass-card-item>
            <app-cart-weekend-pass-card-item *ngSwitchCase="'weekend-pass'" [item]="item" (onRemoveItem)="onRemoveItem($event)"></app-cart-weekend-pass-card-item>
            <app-cart-day-pass-card-item *ngSwitchCase="'day-pass'" [item]="item" (onRemoveItem)="onRemoveItem($event)"></app-cart-day-pass-card-item>
            <app-cart-hotel-event-card-item *ngSwitchCase="'hotel-event'" [item]="item" (onRemoveItem)="onRemoveItem($event)"></app-cart-hotel-event-card-item>
        </ng-container>
    </div>
</ng-template>


<ng-template #renderEmptyCart>
    <div class="col-12 mb-4">
        <h5 class="text-center">
            Your cart is empty
        </h5>
    </div>
</ng-template>