<div class="row">

    <div class="col-12 text-center mb-4">
        <div class="fs-4 fw-bold">
            Habitaciones
        </div>
        <div class="seprd2"></div>
    </div>

    <ng-container *ngIf="(rooms.length > 0); then renderRooms; else renderNoRooms"></ng-container>
        
    <div class="col-12 mb-4">
        <div class="card-box card-box-b3 p-3 mb-3">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                <button class="btn btn-two mb-3 mb-sm-0" (click)="openModalRoomsList()">
                    <i class="bi bi-plus-circle"></i>
                    &nbsp;
                    {{ "general.add" | translate }}
                </button>
                <!-- <button class="btn btn-one" (click)="resetRooms()">
                    <i class="bi bi-trash3"></i>
                    &nbsp;
                    {{ "general.clean" | translate }}
                </button> -->
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" routerLink="/pages/dashboard">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate }}
            </button>
            
            <button class="btn btn-one text-uppercase btn-medium-c" [ngClass]="{'disabled': rooms.length == 0}" type="button" routerLink="/pages/cart">
                {{ "general.continue" | translate | uppercase }}
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
</div>


<ng-template #renderRooms>
    <div class="col-12 mb-4" *ngFor="let item of rooms">
        <app-cart-hotel-event-card-item [item]="item" (onRemoveItem)="onRemoveRoom($event)"></app-cart-hotel-event-card-item>
    </div>
</ng-template>

<ng-template #renderNoRooms>
    <div class="col-12">
        <div class="card-box card-box-b3 p-3 mb-3">
            <h5 class="text-center">{{ "general.noroom" | translate }}</h5>
        </div>
    </div>
</ng-template>

<app-modal-hotel-event-rooms-list #modalRoomsList (onCloseModal)="onAddRoom($event)"></app-modal-hotel-event-rooms-list>