<div class="card card-box p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <span class="text-rslt fw-bold fs-5">
                    {{ "general.room#" | translate }} {{index}}
                </span>
            </div>
        </div>
        <div class="seprd2"></div>
        <div class="col-12 mb-2">
            {{item?.ubicationTypeDescription | uppercase }} {{item?.description | uppercase}}
        </div>
        <div class="col-12">
            <p class="m-0">
                {{ "general.#oforphans" | translate }} {{item.capacity}} persona<ng-container *ngIf="item.capacity > 1">s</ng-container>
            </p>
            <p class="m-0" *ngIf="nroAdditionalDays > 0">
                {{ "general.Additional-nights" | translate }} {{nroAdditionalDays}}
            </p>
            <hr>
            <p class="m-0">
                {{ "general.Value-without-discount" | translate }} 
                <span class="text-decoration-line-through">
                    USD {{subTotalFullPrice | mask:'separator.2':','}}
                </span>
            </p>
            <p class="m-0">
                {{ "general.discount" | translate }}: USD {{discount | mask:'separator.2':','}}
            </p>
            <div class="">
                <span class="fs-4 fw-bolder">
                    TOTAL: USD {{total | mask:'separator.2':','}}
                </span>
            </div>
        </div>
    </div>
</div>