<div class="modal fade modal-PlanDetails" id="modalPlanDetails" tabindex="-1" aria-labelledby="modalPlanDetails"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-custom p-5">
            <div class="modal-header d-flex justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="logo">
                                <img src="assets/img/cilik/logo.png" alt="">
                            </div>
                        </div>
                        <div class="col text-end">
                            <span class="fs-2 fw-bold text-end">
                                Planes todo incluido<br> WLDC 2023
                            </span>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <p class="text-justify fw-bold fs-5">
                    El valor por persona incluye:
                </p>
                <div class="list-details">
                    <div class="item-l-d d-flex fw-bold align-items-center mb-3">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <img src="assets/img/cilik/icon-38.png" alt="">
                        </div>
                        <div class="">
                            Traslados Aeropuerto Hotel - Hotel aeropuerto: únicamente para las personas que llegan 
                            el 5 y 6 de febrero y se regresan el 12 y 13 de febrero 2023. A las personas que lleguen 
                            antes o se regresen después de las fechas indicadas no se les incluyen los traslados.
                        </div>
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center mb-3">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <img src="assets/img/cilik/icon-37.png" alt="">
                        </div>
                        <div class="">
                            Hospedaje en Hotel 5 estrellas, “Hotel las Américas” del 6 al 12 de febrero 2023, 6 noches y 
                            7 días. Después de agotar este hotel, la organización designará el segundo hotel oficial del 
                            evento, de igual categoría.
                        </div>
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center mb-3">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <img src="assets/img/cilik/icon-36.png" alt="">
                        </div>
                        <div class="">
                            Alimentación completa: desayuno, almuerzo y cena, tipo buffet dentro de las instalaciones en los 
                            horarios establecidos por el hotel. 
                        </div>
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center mb-3">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <img src="assets/img/cilik/icon-35.png" alt="">
                        </div>
                        <div class="">
                            Full Pass - Concierto, Fiestas, Talleres, Conferencias, Competencia, Gran Final, Ultimate 
                            Championship, Music Park Fest,  Pool Partys, Playas, Gym.  
                        </div>
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center mb-3">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <img src="assets/img/cilik/icon-34.png" alt="">
                        </div>
                        <div class="">
                            Kit del evento WLDC 2023.
                        </div>
                    </div>
                    <div class="seprd2"></div>
                    <div class="item-l-d d-flex my-3 fw-bold">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <img src="assets/img/cilik/icon-33.png" alt="">
                        </div>
                        <div class="">
                            <span class="text-rslt">Por la compra del plan todo incluido los competidores reciben una (1) categoría sin costo.</span> En caso de querer competir en más de una categoría deberá comprar categorías adicionales.
                        </div>
                    </div>
                    <div class="seprd2"></div>
                    <div class="fs-5 fw-bold py-3">
                        Beneficios sólo para aquellos que compren del 10 al 30 de septiembre 2022.
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <i class="bi bi-check2"></i>
                        </div>
                        <div class="">
                            Entrada VIP a ver la competencia.
                        </div>
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <i class="bi bi-check2"></i>
                        </div>
                        <div class="">
                            Prioridad para usar el escenario principal para ensayar su coreografía. 
                        </div>
                    </div>
                    <div class="item-l-d d-flex fw-bold align-items-center">
                        <div class="icon-l-d d-flex justify-content-center align-items-center pe-3">
                            <i class="bi bi-check2"></i>
                        </div>
                        <div class="">
                            Kit VIP con sorpresas adicionales a la que recibirán los demás asistentes. 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>