<div class="row">
    <p>pre-sale-credit-card works!</p>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three text-uppercase" type="button" (click)="onBack()">
                <i class="bi bi-chevron-left"></i>
                {{ "general.return" | translate }}
            </button>
            <button class="btn btn-one text-uppercase" type="button" (click)="onNext()">
                {{ "general.proceed" | translate }}
            </button>
        </div>
    </div>
</div>
