<div class="card card-box p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12 px-3">
            <div class="d-flex justify-content-between">
                <!-- <span class="text-rslt fw-bold fs-5">
                    <i class="bi bi-ticket-perforated"></i>
                    &nbsp;
                    {{item?.title | translate}}
                </span> -->
                <span class="text-rslt fw-bold fs-6">
                    <i class="bi bi-person-fill"></i>
                    {{item?.capacity}}
                    |
                    {{item?.title | translate}}
                </span>

                <!-- <span class="d-none d-md-block">
                    <i class="bi bi-person-fill"></i>
                    {{item?.capacity}}
                </span> -->

                <div class="c-icon d-flex align-items-center">
                    <img src="assets/img/icon-ticket-gray.png" alt="">
                </div>
            </div>
        </div>

        <div class="seprd2"></div>

        <div class="col-12 px-3">

            <p class="m-0 d-block d-sm-none">
                <i class="bi bi-person-fill"></i>
                {{item?.capacity}}
            </p>

            <p class="card-text mb-0" *ngIf="item?.include">
                {{"general.include" | translate}}:
                <small class="text-muted">
                    {{item.include | translate}}
                </small>
            </p>
            <p class="card-text mb-0" *ngIf="item?.notInclude">
                {{"general.notInclude" | translate}}:
                <small class="text-muted">
                    {{item.notInclude | translate}}
                </small>
            </p>

            <div class="fw-bold">
                <span class="fw-bold">
                    {{"general.checkInDate" | translate}}:
                </span>
                <span class="text-rslt">
                    <ng-container *ngIf="checkIn" [ngTemplateOutlet]="renderDateParsed"
                        [ngTemplateOutletContext]="{date: checkIn}"></ng-container>
                </span>
            </div>

            <div class="fw-bold">
                <span class="fw-bold">
                    {{"general.checkOutDate" | translate}}:
                </span>
                <span class="text-rslt">
                    <ng-container *ngIf="checkIn" [ngTemplateOutlet]="renderDateParsed"
                        [ngTemplateOutletContext]="{date: checkOut}"></ng-container>
                </span>
            </div>

            <!-- <p class="fw-bold m-0">Subtitulo:</p>
            <div class="seprd m-0 mb-2"></div>
            <p class="m-0">Monto: 0</p>
            <h5 class="pb-3 fw-bold">Total: USD 0</h5>

            <div class="seprd2"></div>

            <p class="m-0 mt-4">
                Monto sin descuento:
                <span class="text-decoration-line-through">USD 0</span>
            </p>
            <p class="m-0">Descuento: USD 0</p> -->


            <ng-container *ngIf="descuento > 0">
                <div class="d-md-flex align-content-center justify-content-center justify-content-md-between">

                    <div class="d-flex justify-content-center align-items-md-center mb-2 mb-md-0">
                        <span class="fs-4 fw-bolder">
                            {{"general.subtotal" | translate}}: USD {{total | currency}}
                        </span>
                    </div>
                </div>


                <div class="d-md-flex align-content-center justify-content-center justify-content-md-between">
                    <div class="d-flex justify-content-center align-items-md-center mb-2 mb-md-0">
                        <span class="fs-4 fw-bolder">
                            {{"general.discount" | translate}}: USD {{descuento  | currency}}
                        </span>
                    </div>
                </div>
            </ng-container>



            <div class="d-md-flex align-content-center justify-content-center justify-content-md-between">
                <div class="d-flex justify-content-center align-items-md-center mb-2 mb-md-0">
                    <span class="fs-4 fw-bolder">
                        {{"general.total" | translate}}: USD {{totales  | currency}}
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-three btn-small" (click)="remove()">
                        {{"general.remove" | translate}}
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #renderDateParsed let-date="date">
    {{date | date: 'd MMM yyyy'}}
</ng-template>