<div class="text-center fs-3 text-rslt fw-bold lh-1 text-uppercase my-5">
    {{'Formulario de Escuela' | translate | titlecase}} 
</div>

<form [formGroup]="registerForm" (ngSubmit)="request()">

    <!-- Información de la Escuela -->
    <div class="fs-4 text-rslt fw-bold lh-1 mt-5 mb-3 brd-rslt">
        {{'Información de la Escuela' | translate }} 
    </div>

    <div formGroupName="SchoolInformation" class="form-group">
        <label for="nombreEscuela">{{' Nombre de la Escuela' | translate | titlecase}} </label>
        <input type="text" id="nombreEscuela" class="form-control mb-3" formControlName="schoolName">
        <div *ngIf="registerForm.get('SchoolInformation.schoolName')?.invalid && registerForm.get('SchoolInformation.schoolName')?.touched"
            class="text-danger">
            {{'Nombre de la escuela es requerido' | translate | titlecase}} .
        </div>

        <label for="schoolId">{{'schoolId' | translate | titlecase}}</label>
        <input type="text" id="schoolId" class="form-control mb-3" formControlName="schoolId">
        <div *ngIf="registerForm.get('SchoolInformation.schoolId')?.invalid && registerForm.get('SchoolInformation.schoolId')?.touched"
            class="text-danger">
            schoolId es requerido.
        </div>

        <label for="schoolAddress">{{'schoolAddress' | translate | titlecase}}</label>
        <input type="text" id="schoolAddress" class="form-control mb-3" formControlName="schoolAddress">
        <div *ngIf="registerForm.get('SchoolInformation.schoolAddress')?.invalid && registerForm.get('SchoolInformation.schoolAddress')?.touched"
            class="text-danger">
            schoolAddress es requerido.
        </div>


        <label for="schoolNeighborhood">{{'schoolNeighborhood' | translate | titlecase}}</label>
        <input type="text" id="schoolNeighborhood" class="form-control mb-3" formControlName="schoolNeighborhood">
        <div *ngIf="registerForm.get('SchoolInformation.schoolNeighborhood')?.invalid && registerForm.get('SchoolInformation.schoolNeighborhood')?.touched"
            class="text-danger">
            schoolNeighborhood es requerido.
        </div>

        <label for="schoolCountry">{{'schoolCountry' | translate | titlecase}}</label>
        <input type="text" id="schoolCity" class="form-control mb-3" formControlName="schoolCity">
        <div *ngIf="registerForm.get('SchoolInformation.schoolCity')?.invalid && registerForm.get('SchoolInformation.schoolCity')?.touched"
            class="text-danger">
            schoolCity es requerido.
        </div>


        <label for="schoolCountry">schoolCountry</label>
        <input type="text" id="schoolCountry" class="form-control mb-3" formControlName="schoolCountry">
        <div *ngIf="registerForm.get('SchoolInformation.schoolCountry')?.invalid && registerForm.get('SchoolInformation.schoolCountry')?.touched"
            class="text-danger">
            schoolCountry es requerido.
        </div>
    </div>

    <div class="fs-4 text-rslt fw-bold lh-1 mt-5 mb-3 brd-rslt">
        {{'Contactos de La escuela' | translate }}
    </div>

    <div formGroupName="SchoolContacts" class="form-group">

        <label for="schoolEmail">{{'schoolEmail' | translate | titlecase}}</label>
        <input type="text" id="schoolEmail" class="form-control mb-3" formControlName="schoolEmail">
        <div *ngIf="registerForm.get('SchoolContacts.schoolEmail')?.invalid && registerForm.get('SchoolContacts.schoolEmail')?.touched"
            class="text-danger">
            schoolEmail es requerido.
        </div>

        <label for="schoolFacebook">{{'schoolFacebook' | translate | titlecase}}</label>
        <input type="text" id="schoolFacebook" class="form-control mb-3" formControlName="schoolFacebook">
        <div *ngIf="registerForm.get('SchoolContacts.schoolFacebook')?.invalid && registerForm.get('SchoolContacts.schoolFacebook')?.touched"
            class="text-danger">
            schoolFacebook es requerido.
        </div>


        <label for="schoolInstagram">{{'schoolInstagram' | translate | titlecase}}</label>
        <input type="text" id="schoolInstagram" class="form-control mb-3" formControlName="schoolInstagram">
        <div *ngIf="registerForm.get('SchoolContacts.schoolInstagram')?.invalid && registerForm.get('SchoolContacts.schoolInstagram')?.touched"
            class="text-danger">
            schoolInstagram es requerido.
        </div>

        <label for="schoolTikTok">{{'schoolTikTok' | translate | titlecase}}</label>
        <input type="text" id="schoolTikTok" class="form-control mb-3" formControlName="schoolTikTok">
        <div *ngIf="registerForm.get('SchoolContacts.schoolTikTok')?.invalid && registerForm.get('SchoolContacts.schoolTikTok')?.touched"
            class="text-danger">
            schoolTikTok es requerido.
        </div>


        <label for="schoolTwitter">{{'schoolTwitter' | translate | titlecase}}</label>
        <input type="text" id="schoolTwitter" class="form-control mb-3" formControlName="schoolTwitter">
        <div *ngIf="registerForm.get('SchoolContacts.schoolTwitter')?.invalid && registerForm.get('SchoolContacts.schoolTwitter')?.touched"
            class="text-danger">
            schoolTwitter es requerido.
        </div>

        <label for="schoolPhone">{{'schoolPhone' | translate | titlecase}}</label>
        <input type="text" id="schoolPhone" class="form-control mb-3" formControlName="schoolPhone">
        <div *ngIf="registerForm.get('SchoolContacts.schoolPhone')?.invalid && registerForm.get('SchoolContacts.schoolPhone')?.touched"
            class="text-danger">
            schoolPhone es requerido.
        </div>

        <label for="schoolReview">{{'schoolReview' | translate | titlecase}}</label>
        <input type="text" id="schoolReview" class="form-control mb-3" formControlName="schoolReview">
        <div *ngIf="registerForm.get('SchoolContacts.schoolReview')?.invalid && registerForm.get('SchoolContacts.schoolReview')?.touched"
            class="text-danger">
            schoolReview es requerido.
        </div>

    </div>




    <div class="fs-4 text-rslt fw-bold lh-1 mt-5 mb-3 brd-rslt">
        {{'Adjunte documentos de la escuela que acrediten su existencia' | translate }}
    </div>

    <div formGroupName="docs" class="form-group">

        <!-- School Photos -->
        <div class="fw-bold text-rslt">{{'Photos of the Headquarters' | translate }}</div>
        <div class="mb-3">
            <label for="schoolPhotos" class="form-label">Upload Photos</label>
            <input type="file" class="form-control mb-3" id="schoolPhotos" (change)="onFileChange($event, 'schoolPhotos')">
        </div>
        <div *ngIf="registerForm.get('docs.schoolPhotos')?.invalid && registerForm.get('docs.schoolPhotos')?.touched"
            class="text-danger">
            schoolPhotos es requerido.
        </div>

        <!-- Legal Representation, License, Chamber of Commerce -->
        <div class="fw-bold text-rslt">{{'Legal Documentation' | translate }}</div>
        <div class="mb-3">
            <label for="legalDocs" class="form-label">Upload Legal Documents</label>
            <input type="file" class="form-control mb-3" id="legalDocs" (change)="onFileChange($event, 'legalDocs')">
        </div>
        <div *ngIf="registerForm.get('docs.legalDocs')?.invalid && registerForm.get('docs.legalDocs')?.touched"
            class="text-danger">
            legalDocs es requerido.
        </div>

        <!-- Certificates and Recommendations -->
        <div class="fw-bold text-rslt">{{'Certificates and Recommendations' | translate }}</div>
        <div class="mb-3">
            <label for="certificates" class="form-label">Upload Certificates and Recommendations</label>
            <input type="file" class="form-control mb-3" id="certificates" (change)="onFileChange($event, 'certificates')">
        </div>
        <div *ngIf="registerForm.get('docs.certificates')?.invalid && registerForm.get('docs.certificates')?.touched"
            class="text-danger">
            certificates es requerido.
        </div>

        <div class="fw-bold text-rslt">{{'schoolReview' | translate | titlecase}}</div>
        <input type="text" id="schoolReview" class="form-control mb-3" formControlName="schoolReview">
        <div *ngIf="registerForm.get('docs.schoolReview')?.invalid && registerForm.get('docs.schoolReview')?.touched"
            class="text-danger">
            schoolReview es requerido.
        </div>

    </div>


    <div class="fs-4 text-rslt fw-bold lh-1 mt-5 mb-3 brd-rslt">
        {{'Adjunte documentos de la escuela que acrediten su existencia' | translate }}
    </div>

    <div formArrayName="legalRepresentatives">
        <div class="fw-bold text-rslt fs-5">{{'Representantes Legales' | translate | titlecase}}</div>

        <div *ngFor="let legalRep of legalRepresentatives.controls; let i = index" [formGroupName]="i">
            <div class="fw-bold brd-rsltTwo d-flex justify-content-between align-items-center pb-2">Representante {{ i + 1 }}
                <button type="button" class="btn btn-danger p-1 px-3" title="Eliminar" (click)="removeLegalRepresentative(i)">
                    <i class="bi bi-trash3"></i>
                </button>
            </div>
            <div class="mb-3 ">
                <label for="representativeName{{i}}">Nombre del Representante</label>
                <input type="text" id="representativeName{{i}}" class="form-control mb-3"
                    formControlName="representativeName">
                <div *ngIf="legalRep.get('representativeName')?.invalid && legalRep.get('representativeName')?.touched"
                    class="text-danger">
                    Nombre es requerido.
                </div>
            </div>

            <div class="mb-3">
                <label for="representativeId{{i}}">representativeId</label>
                <input type="text" id="representativeId{{i}}" class="form-control mb-3" formControlName="representativeId">
                <div *ngIf="legalRep.get('representativeId')?.invalid && legalRep.get('representativeId')?.touched"
                    class="text-danger">
                    ID es requerido.
                </div>
            </div>

            <div class="mb-3">
                <label for="representativePhone{{i}}">representativePhone</label>
                <input type="text" id="representativePhone{{i}}" class="form-control mb-3"
                    formControlName="representativePhone">
                <div *ngIf="legalRep.get('representativePhone')?.invalid && legalRep.get('representativePhone')?.touched"
                    class="text-danger">
                    Número de teléfono es requerido y debe ser válido.
                </div>
            </div>



        </div>

       
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column flex-md-row justify-content-md-between">
        <button type="button" class="btn btn-three mb-3 mb-md-0" (click)="addLegalRepresentative()">
            {{'Agregar otro representante' | translate | titlecase}}
        </button>
        <button type="submit" class="btn btn-one">
            {{'ENVIAR PETICIÓN' | translate | titlecase}}
        </button>
    </div>


    
</form>