<div class="row">

    <div class="col-12 my-4">
        <app-pre-sale-banner-card-item [orderType]="preSaleDocument?.orderType"></app-pre-sale-banner-card-item>
    </div>

    <div class="col-12 text-center mb-2 mt-5">
        <h5>
            {{ "general.valueToBeCancelledFrom" | translate }} <span class="fw-bolder">USD {{total | mask:'separator.0':','}}</span>
        </h5>
    </div>

    <div class="col-12 mb-4 text-center">
        <!-- <button class="btn btn-danger">
            <i class="bi bi-cash"></i> &nbsp; Comprar con tuCompra
        </button> -->

        <ng-container *ngIf="(total > 0 && tuCompraDoc); else renderLoadingButton">
            <app-tucompra [payConfig]="tuCompraDoc"></app-tucompra>
        </ng-container>
    </div>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three text-uppercase" type="button" (click)="onBack()">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate| uppercase }}
            </button>
            <!-- <button class="btn btn-one" type="button" (click)="onNext()">
                CONTINUAR
            </button> -->
        </div>
    </div>

</div>

<ng-template #renderLoadingButton>
    <button class="btn btn-danger">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </button>
</ng-template>