<div class="card card-box p-3 mb-3">
    <div class="row g-2 d-flex align-items-center">
        <div class="col-12 px-3">
            <div class="d-flex justify-content-between">
                <!-- <span class="text-rslt fw-bold fs-6">
                    <i class="bi bi-ticket-perforated"></i>
                    &nbsp;
                    {{item?.title | translate}} - {{ ("general." + item?.categoryType) | translate | uppercase}}
                </span> -->
                <span class="text-rslt fw-bold fs-6">
                    <i class="bi"
                        [ngClass]="(item?.categoryType === 'solo') ? 'bi-person-fill' : 'bi-people-fill'"
                    ></i>
                    {{item?.capacity}}
                    |
                    {{item?.title | translate}} - {{ ("general." + item?.categoryType) | translate | uppercase}}
                </span>

                <!-- <span class="d-none d-md-block">
                    <i class="bi"
                        [ngClass]="(item?.categoryType === 'solo') ? 'bi-person-fill' : 'bi-people-fill'"
                    ></i>
                    {{item?.capacity}}
                </span> -->

                <div class="c-icon d-flex align-items-center">
                    <img src="assets/img/icon-pass-category-gray.png" alt="">
                </div>
            </div>
        </div>

        <div class="seprd2"></div>

        <div class="col-12 px-3">

            <p class="card-text mb-0" *ngIf="item?.include">
                {{"general.include" | translate}}:
                <small class="text-muted">
                    {{item.include | translate}}
                </small>
            </p>
            <p class="card-text mb-0" *ngIf="item?.notInclude">
                {{"general.notInclude" | translate}}:
                <small class="text-muted">
                    {{item.notInclude | translate}}
                </small>
            </p>

            <!-- <div class="seprd m-0 mb-2"></div>
            <p class="m-0">Monto: 0</p>
            <h5 class="pb-3 fw-bold">Total: USD 0</h5>

            <div class="seprd2"></div>

            <p class="m-0 mt-4">
                Monto sin descuento:
                <span class="text-decoration-line-through">USD 0</span>
            </p>
            <p class="m-0">Descuento: USD 0</p> -->

            <p class="m-0 d-block d-sm-none">
                <i class="bi"
                    [ngClass]="(item?.categoryType === 'solo') ? 'bi-person-fill' : 'bi-people-fill'"
                ></i>
                {{item?.capacity}}
            </p>
            
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center align-items-md-center">
                    <span class="fw-bold fs-4">
                        {{"general.total" | translate}}: USD {{totales}}
                    </span>
                </div>
                <div>
                    <button type="button" class="btn btn-three btn-small" (click)="remove()">
                        {{"general.remove" | translate}}
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

