<div class="row align-items-stetch mb-4">
    <app-pre-sale-steps-counter [step]="1"></app-pre-sale-steps-counter>

    <div class="col-12 text-center mt-5 mb-2 fw-bold fs-5">

        {{ "roomsStep.title" | translate }}
    </div>

    <div class="col-12 col-md-6 mb-3">
        <app-input-number-form 
            [label]="('general.#nroCompetitors' | translate | lowercase)"
            [min]="0" [max]="999"
            [quantity]="nroParticipants"
            (onUpdateQuantity)="onUpdateNroParticipants($event)"></app-input-number-form>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="d-flex align-items-center h-100 card-box card-box-2 p-3">
            <div class="icon-help pe-3">
                <img src="assets/img/cilik/help-icon-10.png" alt="">
            </div>
            <div class="fs-5" [innerHTML]="('roomsStep.roomCopilotMessage' | translate:{value: ((participantsLeft >= 0) ? participantsLeft : 0)} )"></div>
            <!-- <div class="fs-5">
                Quedan <span class="text-rslt">{{(participantsLeft >= 0) ? participantsLeft : 0}}</span> personas pendientes por asignar habitación
            </div> -->
        </div>
    </div>
</div>

<ng-container *ngIf="!setup">
    <div class="row mt-5">
        <div class="row align-items-stetch">
            <div class="col-12 col-md-5 mb-3">
                <div class="h-100 p-3">
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-two mb-3" (click)="onUpdateSetup('manual')">
                            {{ "general.manualSetup" | translate | uppercase }}
                        </button>
                        <div class="fs-6 px-3 text-center">
                            {{ "roomsStep.manualSetupMessage" | translate }}
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="col-2 d-none d-md-flex justify-content-center align-items-center">
                <div class="seprd-h"></div>
            </div>
            <div class="col-12 col-md-5 mb-3">
                <div class="h-100 p-3">
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-one mb-3" (click)="onUpdateSetup('automatic')">
                            {{ "general.automaticSetup" | translate | uppercase }}
                        </button>
                        <div class="fs-6 px-3 text-center">
                            {{ "roomsStep.automaticSetupMessage" | translate }}
                        </div>
                    </div>
                </div>
            </div>             
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-between">
                <app-remove-order-on-back-button></app-remove-order-on-back-button>
            </div>
        </div>

    </div>
</ng-container>

<ng-container *ngIf="setup">

    <div class="row">
        <div class="col-12 mb-4" *ngIf="setup == 'automatic'">
            <div class="card-box card-box-b3 p-3 mb-3">
                <div class="d-flex align-items-center">
                    <button class="btn btn-one" (click)="runHelp()">
                        {{ "general.automaticSetup" | translate | uppercase }}
                    </button>
                    <div class="fs-6 px-3 text-center">
                        {{ "roomsStep.automaticSetupMessage2" | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">   

        <div class="col-12 text-center mb-2">
            <div class="fw-bold fs-5">
                {{ "roomsStep.subTitle" | translate }}
            </div>
        </div>
    
        <ng-container *ngIf="rooms.length > 0; else noRooms">
            <div class="col-12" *ngFor="let room of rooms; index as idx">
                <app-pre-sale-plan-card-item 
                    [index]="idx"
                    [item]="room"
                    (onUpdateNroParticipants)="onUpdatePlanCardItem($event)"
                    (onUpdateRoom)="onMorePLanCardItem($event)"
                    (onUpdateAdditionalDays)="onAddAdditionalDays($event)"
                    (onRemove)="removeRoom($event)"></app-pre-sale-plan-card-item>
            </div>
        </ng-container>
    
        <ng-template #noRooms>
            <div class="col-12">
                <div class="card px-2 py-5 mb-3 text-center">
                    {{ "roomsStep.addRoomToStart" | translate }}
                </div>
            </div>
        </ng-template>
    
        <div class="col-12">
            <hr>
        </div>
    
        <div class="col-12 col-sm-6 col-md-6 mb-3">
            <app-pre-sale-add-room-button 
                [disabled]="participantsLeft <= 0"
                (onAddRoom)="onAddRoom($event)"
            ></app-pre-sale-add-room-button>
        </div>
    
        <app-pre-sale-totales></app-pre-sale-totales>
    
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <app-remove-order-on-back-button></app-remove-order-on-back-button>
                
                <button class="btn btn-one" type="button" (click)="onNext()">
                    {{ "general.continue" | translate }}
                </button>
            </div>
        </div>
    
    </div>
</ng-container>


<app-pre-sale-modal-room-type-details (onUpdateRoom)="onUpdatePlanCardItem($event)"></app-pre-sale-modal-room-type-details>
<app-pre-sale-modal-additional-days (onUpdateRoom)="onUpdatePlanCardItem($event)"></app-pre-sale-modal-additional-days>