/* You can add global styles to this file, and also import other style files */
/* @import url("assets/css/style.css"); */
@import url("assets/css/reserve.css");


/* card color */

.red-card {
    background-color: #e5334c !important;
}

.red-card .seprd2{
    background-color: #7e1a36;
}

.purple-card {
    background-color: #574794;
}

.purple-card .seprd2{
    background-color: #22003e;
}

.green-card {
    background-color: #54b282;
}

.green-card .seprd2{
    background-color: #005330;
}

.yellow-card {
    background-color: #ff8f26;
}

.yellow-card .seprd2{
    background-color: #cc6300;
}

.blue-card {
    background-color: #0056ab;
}

.blue-card .seprd2{
    background-color: #000f55;
}

.router-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* width: 100vw; */
    height: calc(100% - 47px);
    /* perspective: 1200px; */
    /* transform-style: preserve-3d; */
}

:host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url(assets/font/RobotoCondensed-Regular.ttf) format('ttf');
    src: url(assets/font/RobotoCondensed-Regular.otf) format('otf');
    src: url(assets/font/RobotoCondensed-Regular.woff) format('woff');
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url(assets/font/RobotoCondensed-Bold.ttf) format('ttf');
    src: url(assets/font/RobotoCondensed-Bold.otf) format('otf');
    src: url(assets/font/RobotoCondensed-Bold.woff) format('woff');
    font-weight: bold;
}
a{
    color: #60605f;
    text-decoration: none;
}

.fix-alert-steps {
    z-index: 0 !important;
}

body{
    background-color: #e5e5e4;
    color: #60605f;
}
.logo img{
    width: 300px;
}
.text-rslt{
    color: #e7344c;
}
.text-whi{
    color: #ffffff;
}
.btn{
    border-radius: 30px;
    padding: 1rem;
    max-width: 300px;
    font-family: RobotoCondensed;
    font-weight: bold;
    border: 1px solid transparent;
}
.btn-medium{
    width: 220px !important;
}
.btn-large{
    width: 100% !important;
}
.btn-small{
    width: 190px;
}
.btn-xs-c{
    width: fit-content !important;
    padding: 0.5rem 1rem;
}
.btn.btn-one{
    background-color: #e7344c;
    color: #ffffff;
    box-shadow: 0 5px 5px #d4d4d4;
    transition: all 1s;
}
.btn.btn-one:hover{
    border-color: #e7344c;
    background-color: #ffffff;
    color: #ffffff;
    color: #e7344c;
    transition: all 0.5s;
}
.btn.btn-two{
    background-color: #ffde14;
    color: #e7344c;
    transition: all 1s;
    box-shadow: 0 5px 5px #d4d4d4;
}
.btn.btn-two:hover{
    border-color: #ffde14;
    background-color: transparent;
    color: #60605f;
    transition: all 0.5s;
}
.btn.btn-three{
    border-color: #868786;
    background-color: #ffffff;
    color: #60605f;
    box-shadow: 0 5px 5px #d4d4d4;
    transition: all 1s;
}
.btn.btn-three:hover{
    border-color: #e7344c;
    background-color: transparent;
    color: #e7344c;
    transition: all 0.5s;
}
.btn.btn-payment{
    border-radius: 10px;
    border-color: #868786;
    color: #60605f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.btn-payment:hover,
.btn.btn-payment.active{
   background-color: #e7344c;
   color: #ffffff;
}
.btn.btn-payment .icon-payment{
    font-size: 2.5rem;
    display: inline-block;
    padding-right: 0.5rem;
}
.btn.btn-payment .label-payment{
    font-size: 1rem;
}
.btn-navbar-c{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: #d3d3ce; */
    cursor: pointer;
}
.btn-navbar-c img{
    width: 25px;
}
.btn-navbar-languaje{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d3d3ce;
    cursor: pointer;
}
.btn-logout{
    cursor: pointer;
}
.btn-logout img{
    width: 25px;
    cursor: pointer;
}
.btn-close-card-item{
    width: 25px;
    height: 25px;
    background-color: #dbdbdb;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.btn-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid transparent;
}
.btn-icon-one{
    background-color: #e7344c;
}
.btn-icon-one:hover{
    background-color: transparent;
    border-color: #e7344c;
    color: #e7344c;
}
.btn-icon-two{
    background-color: #60605f;
}
.btn-icon-two:hover{
    background-color: transparent;
    border-color: #60605f;
    color: #60605f;
}
.card{
    font-family: RobotoCondensed;
    border-radius: 25px !important;
}
.card-box{
    border: 1px solid #868786;
    border-radius: 20px;
}
.card-box-2{
    background-color: #E5E5E4;
    border: 0;
}
.card-box-b3{
    border-radius: 40px;
}
.icon-help img{
    width: 50px;
}
.card-box-wfc{
    width: fit-content;
}
.form-camp{
    text-align: center;
    width: auto;
    margin: 0 auto;
}
.form-camp > label{
    text-align: center;
    width: 100%;
}
.form-camp input,
.form-camp select{
    border-radius: 10px;
}
.pass-ico {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.seprd{
    width: 100%;
    height: 1px;
    background-color: #cecece;
    margin: 1rem auto;
}
.seprd2{
    width: 100%;
    height: 3px;
    background-color: #868786;
}
.seprd-h{
    width: 1px;
    height: 50%;
    background-color: #868786;
    margin: 0 5px;
}
.card-custom{
    background-color: #f2f2f2;
    box-shadow: 0 5px 5px #e3e3e3;
}
.card-custom .card-header{
  border-bottom: 0;
  background-color: transparent;
}


/* swal2-alert */
.swal2-html-container{
    font-family: RobotoCondensed;
}
.swal2-styled.swal2-confirm {
    background-color: #e7344c !important;
    border-radius: 30px !important;
    font-weight: bold;
    border: 1px solid transparent !important;
    padding-inline-end: 1.5rem !important;
    padding-inline-start: 1.5rem !important;
    width: auto;
}
.swal2-styled.swal2-cancel {
    background-color: transparent !important;
    border-radius: 30px !important;
    font-weight: bold;
    border: 1px solid #60605f !important;
    padding-inline-end: 1.5rem !important;
    padding-inline-start: 1.5rem !important;
    width: auto;
    color: #60605f !important;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
}
.swal2-title{
    font-weight: bold !important;
}
.swal2-icon.swal2-info {
    border-color: #e7344c !important;
    color: #e7344c !important;
}

/* PRESALE STEPS */
.presale-steps .avtr{
    width: 60px;
}
.presale-steps .avtr img{
    width: 100%;
}
.cont-item-step{
    margin: 0 15%;
}
.cont-item-step .progress-bar{
    background-color: #868786;
}
.cont-item-step .item-step.active{
    opacity: 1;
}
.btn-num-steps{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e5e5e4;
    border: 2px solid #868786;
    z-index: 2;
    opacity: 0.5;
}
.label-steps {
    position: absolute;
    bottom: -50px;
    width: fit-content;
    font-size: 0.9rem;
    margin: 0 auto;
    left: -45px;
    right: -45px;
}
.btn-num-steps-act{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e5e5e4;
    border: 2px solid #868786;
    z-index: 2;
    opacity: 1;
}

.card-box-number{
    border: 1px solid #60605f;
    border-radius: 20px;
}
.card-box-number-header{
    border-bottom: 1px solid #60605f;
    padding: 0.5rem;
}
.card-box-number-header label{
    margin: 0;
    font-weight: bold;
}
.card-box-number-body {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-box-number-body .input-group{
    flex-wrap: nowrap;
    padding: 0;
    justify-content: center;
}

.card-box-number-body .input-group .form-control{
    width: 100px;
    flex: inherit;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.card-box-number-body .input-group .btn{
    padding: 0;
    background-color: transparent;
    outline: none;
    border: 0 !important;
    border-color: transparent !important;
}
.card-box-number-body .input-group .btn:focus{
    padding: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.list-details .item-l-d .icon-l-d{
    font-size: 2rem;
    font-weight: normal;
}
.list-details .item-l-d .icon-l-d img{
    width: 30px;
}

.card-box-number-body .btn.disabled, .card-box-number-body .btn:disabled, .card-box-number-body fieldset:disabled .btn{
    border: 0 !important;
}
.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active{
    border: 0 !important;
    border-color: transparent !important;
}

.icon-order{
    border-radius: 50%;
    border: 1px solid #cecece;
    width: 50px;
    height: 50px;
    padding: 10px; 
    margin-right: 1rem;
}
.icon-order img{
    width: 100%;
}

/* Dashboard */
.item-dash-icon img{
    width: 150px;
}
.modalTCcategoriasAdd .btn-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
}



@media (max-width: 575px) {
    .item-dash-icon img{
        width: 150px;
    }
    .form-camp{
        width: 100%;
    }
    /* .btn{
        width: 100%;
    }    */
    .btn-medium-c{
        width: 150px;
    }
    .cont-item-step .item-step:nth-child(2)::before{
        display: none;
    }
    .seprd {
        width: 90%;
        margin: 1rem auto;
    }
    .btn-medium {
        width: 170px !important;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .seprd {
        width: 90%;
        margin: 1rem auto;
    }
    .btn-medium {
        width: 170px !important;
        font-size: 14px;
      }
}
@media (min-width: 768px) and (max-width: 991px) {
    .seprd {
        width: 94%;
    }
}


.dosadka{
    background-color: #e7344c;
    color: #ffffff !important;
}
.nav-link{
    color: #808080;
}
.modal-header{
    border: 0;
}



/* ESTILOS PARA DATEPICKER */

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #bdbdbd;
    color: #323232;
}
.daterangepicker .calendar-table table {
    border: 1px solid #cbcbcb !important;
    border-radius: 10px;
    border-collapse: initial;
    background-color: #f8f9fa;
    padding: 5px;
}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: transparent !important;
}
.daterangepicker td.in-range {
    background-color: #bdbdbd;
    border-color: transparent;
    color: #323232;
    border-radius: 0;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
    font-weight: bold;
}
.daterangepicker td.start-date{
    border-radius: 4px 0px 0px 4px !important;
}
.daterangepicker td.end-date {
    border-radius: 0px 4px 4px 0px !important;
}
.selectCalendar .input-group{
    margin-bottom: 0 !important;
}
.selectCalendar .input-group .input-group-text{
    background-color: #e7344c;
    color: #fff;
}
.selectCalendar {
    border: 0;
}

/* ESTILOS PARA DATEPICKER */


.dats-c{
    width: 50%;
    margin: 0 auto;
}
.dats-c .nav-tabs{
    border: 0;
}
.dats-c .nav-link{
    background-color: #f2f2f2;
    color: #c7c7c5;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 10px;
    width: 49%;
    border: 1px solid #cbcbcb;
}
.dats-c .nav-link.active{
    background-color: #e7344c;
    border: 1px solid #e7344c;
    color: #ffffff;
}
.dats-c .nav-link img{
    width: 25px;
}
.dats-c .tab-content{
    background-color: #f2f2f2;
    border: 1px solid #cbcbcb;
    padding: 20px;
    border-radius: 10px;
}

.input-cant{
    border-radius: 10px;
    border: 1px solid #868786;
    width: 150px;
    margin-left: 10px;
}
.input-cant .btn-cant{
    background-color: transparent;
    border: 0;
    font-weight: bold;
}
.input-cant input{
    border: 0;
}


/* CARDS PLANES */

.c-icon img{
    width: 45px;
    margin-left: 5px;
}
.card-plan .img-card{
    max-width: 250px;
    height: 165px;
    border-radius: 20px;
    overflow: hidden;
}
.card-plan .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-fullscreen .modal-content{
    padding: 0 15%;
}

.recomendation {
    background-color: #ffef00;
    position: absolute;
    padding: 5px 15px;
    top: -15px;
    border-radius: 20px;
    left: 25px;
    color: #e7344c;
    font-size: 14px;
    font-weight: bold;
  }

@media (max-width: 767px) {
    .modal-fullscreen .modal-content{
        padding: 0%;
    }
    .card-plan .img-card{
        max-width: 100%;
    }
    .recomendation{
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
    }
}