<div class="container-lg">
    <div class="row my-5 d-flex justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card p-2 p-lg-5">
                <app-header-cilik></app-header-cilik>

                <app-header-welcome></app-header-welcome>

                <div class="row">
                    <div class="col mx-0 px-0">
                        <div class="fs-2 px-3 text-rslt fw-bold text-center mb-3">
                            {{'dashboard.welcomeMessage' | translate}}
                        </div>
                        <div class="seprd"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center mb-5">
                        <div class="fs-4 fw-bold">
                            {{('dashboard.welcomeMessageSub' | translate)[0]}}
                        </div>
                        <div>
                            {{('dashboard.welcomeMessageSub' | translate)[1]}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="card-box text-center p-3">
                            <div class="item-dash-icon">
                                <img src="assets/img/cilik/dash-08.png" alt="">
                            </div>
                            <button class="btn btn-one" (click)="newOrder()">
                                {{'general.buyPlans' | translate | uppercase}}
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <div class="card-box text-center p-3">
                            <div class="item-dash-icon">
                                <img src="assets/img/cilik/dash-09.png" alt="">
                            </div>
                            <button class="btn btn-one" (click)="showCategoriesTerms()">
                                {{'general.buyCategories' | translate | uppercase}}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <app-my-purchases></app-my-purchases>
                </div>

                <app-footer-cilik></app-footer-cilik>
            </div>
        </div>
    </div>
</div>

<app-pre-sale-modal-only-categories-terms (onCloseModal)="onModalCategoriesTermsClose($event)">
</app-pre-sale-modal-only-categories-terms>