<p>checkout works!</p>
<div class="row">

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" routerLink="/pages/cart">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate }}
            </button>

            <!-- <button class="btn btn-one btn-medium-c text-uppercase" [ngClass]="{'disabled': totales === 0}" type="button" routerLink="/pages/checkout">
                Pagar
                <i class="bi bi-chevron-right"></i>
            </button> -->
        </div>
    </div>

</div>
