<div class="row">
    <div class="col text-center mb-3">
        <div class="fs-4 fw-bold">
            {{"general.purchase" | translate | titlecase}}
        </div>
        <div class="text-rslt fw-bold fs-5">
            <i class="bi bi-ticket-perforated"></i>
            &nbsp;
            {{orderId}}
        </div>
    </div>

    <ng-container *ngIf="(orderDoc); else renderLoaderview"
        [ngTemplateOutlet]="renderCheckOrderDoc"
        [ngTemplateOutletContext]="{item: orderDoc}"
    ></ng-container>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" routerLink="/pages/dashboard">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate }}
            </button>
        </div>
    </div>
</div>


<ng-template #renderOrderDoc let-order="order">

    <div class="col-12 mb-4">
        <div class="card card-box p-3 mb-3">
            <div class="row g-2 d-flex align-items-center">

                <!-- <div class="col-12 px-3">
                    <span class="text-rslt fw-bold fs-5">
                        <i class="bi bi-cart3"></i>
                        &nbsp;
                        _id
                    </span>
                </div>
        
                <div class="seprd2"></div> -->
        
                <div class="col-12 px-3">
                    <div class="row mb-1">
                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0">
                                {{"general.createdAt" | translate | titlecase}}:
                                <small class="text-muted">
                                    {{order.createdAt | date: 'medium'}}
                                </small>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0 text-md-end">
                                {{"general.status" | translate}}:
                                <span class="badge bg-danger">
                                    {{ ('general.'+ ((order.status === 'completed') ? 'approved' : order.status)) | translate | uppercase}}
                                </span>
                            </p>
                        </div>

                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0">
                                {{"general.paymentMethod" | translate | titlecase}}:
                                <small class="text-muted">
                                    {{order.paymentMethod}}
                                </small>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0 text-md-end">
                                {{"general.processedAt" | translate | titlecase}}:
                                <small class="text-muted">
                                    <ng-container *ngIf="order.status === 'pending'">
                                        {{"general.inProgress" | translate | titlecase}}
                                    </ng-container>

                                    <ng-container *ngIf="order.status === 'rejected'">
                                        {{order.rejectedAt | date: 'medium'}}
                                    </ng-container>

                                    <ng-container *ngIf="order.status === 'completed'">
                                        {{order.payedAt | date: 'medium'}}
                                    </ng-container>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="seprd2"></div>

                <div class="col-12 text-center text-md-end">
                    <app-purchase-totales [cart]="order"></app-purchase-totales>
                    <!-- <span class="fs-4 fw-bolder">Total: USD {{order.totales}}</span> -->
                </div>

            </div>
        </div>
    </div>

    <div class="col text-center mb-3">
        <div class="fs-4 fw-bold">
            {{"general.products" | translate | titlecase}}
        </div>
    </div>

    <div class="col-12 mb-4" *ngFor="let item of order.product">
        <ng-container [ngSwitch]="item.slug">
            <app-purchase-fullpass-card-item *ngSwitchCase="'full-pass'" [item]="item"></app-purchase-fullpass-card-item>
            <app-purchase-category-pass-card-item *ngSwitchCase="'category-pass'" [item]="item"></app-purchase-category-pass-card-item>
            <app-purchase-weekend-pass-card-item *ngSwitchCase="'weekend-pass'" [item]="item"></app-purchase-weekend-pass-card-item>
            <app-purchase-day-pass-card-item *ngSwitchCase="'day-pass'" [item]="item"></app-purchase-day-pass-card-item>
            <app-purchase-hotel-event-card-item *ngSwitchCase="'hotel-event'" [item]="item"></app-purchase-hotel-event-card-item>
        </ng-container>
    </div>
</ng-template>

<ng-template #renderCheckOrderDoc let-item="item">
    <ng-container 
        *ngIf="(item.exist); else renderNotFoundOrderDoc"
        [ngTemplateOutlet]="renderOrderDoc"
        [ngTemplateOutletContext]="{order: item}"
    ></ng-container>
</ng-template>

<ng-template #renderNotFoundOrderDoc>
    <div class="col-12 mb-4">
        <div class="card-box card-box-b3 p-3 mb-3">
            <h5 class="text-center">
                {{"general.orderNotFound" | translate}}
            </h5>
        </div>
    </div>
</ng-template>

<ng-template #renderLoaderview>
    <div class="col-12 mb-4">
        <div class="card-box card-box-b3 p-3 mb-3">
            <div class="d-flex align-items-center">
                <strong>
                    {{"general.loading" | translate}}...
                </strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</ng-template>