<div class="row">
    <div class="col text-center mb-3">
        <div class="fs-4 fw-bold">
            {{"general.purchase" | translate | titlecase}}
        </div>
        <div (click)="copy()" class="text-rslt fw-bold fs-5">
            <i class="bi bi-ticket-perforated"></i>
            &nbsp;
            {{orderId}}
        </div>
    </div>

    <ng-container *ngIf="(orderDoc); else renderLoaderview" [ngTemplateOutlet]="renderCheckOrderDoc"
        [ngTemplateOutletContext]="{item: orderDoc}"></ng-container>

    <div class="col-12">
        <div class="d-flex justify-content-between">
            <button class="btn btn-three btn-medium-c text-uppercase" type="button" routerLink="/pages/dashboard">
                <i class="bi bi-chevron-left"></i>
                {{ "general.back" | translate }}
            </button>
        </div>
    </div>
</div>


<ng-template #renderOrderDoc let-order="order">

    <div class="col-12 mb-4">
        <div class="card card-box p-3 mb-3">
            <div class="row g-2 d-flex align-items-center">
                <div class="col-12 px-3">
                    <div class="row mb-1">
                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0">
                                {{"general.createdAt" | translate | titlecase}}:
                                <small class="text-muted">
                                    {{order.createdAt | date: 'medium'}}
                                </small>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0 text-md-end">
                                {{"general.status" | translate}}:
                                <span class="badge bg-danger">
                                    {{ ('general.'+ ((order.status === 'completed') ? 'approved' : order.status)) |
                                    translate | uppercase}}

                                </span>
                            </p>
                        </div>

                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0">
                                {{"general.paymentMethod" | translate | titlecase}}:
                                <small class="text-muted">
                                    {{order.paymentMethod}}
                                </small>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="card-text mb-0 text-md-end">
                                {{"general.processedAt" | translate | titlecase}}:
                                <small class="text-muted">
                                    <ng-container *ngIf="order.status === 'pending'">
                                        {{"general.inProgress" | translate | titlecase}}
                                    </ng-container>

                                    <ng-container *ngIf="order.status === 'rejected'">
                                        {{order.rejectedAt | date: 'medium'}}
                                    </ng-container>

                                    <ng-container *ngIf="order.status === 'completed'">
                                        {{order.payedAt | date: 'medium'}}
                                    </ng-container>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="seprd2"></div>

                <div class="col-12 text-center text-md-end">
                    <app-purchase-full-details [cart]="order"></app-purchase-full-details>
                </div>

            </div>
        </div>
    </div>

    <!-- adviser purchase -->
    <app-purchase-adviser (onCompleteForm)="onLoadAdviser($event)" *ngIf="(order.paymentMethod === 'adviser')"
        [orderDoc]="orderDoc"></app-purchase-adviser>

    <!-- Payment instaments -->
    <app-purchase-installments *ngIf="(order.paymentMethod === 'installments')"
        [orderDoc]="orderDoc"></app-purchase-installments>

    <!-- Transfer Segment -->
    <ng-container *ngIf="(order.paymentMethod === 'bankTransfer')" [ngTemplateOutlet]="renderBankTransferSegment"
        [ngTemplateOutletContext]="{order: order}"></ng-container>


    <div class="col-12 text-center mb-3">
        <div class="fs-4 fw-bold">
            {{"general.products" | translate | titlecase}}
        </div>
    </div>

    <div class="col-12 mb-4" *ngFor="let item of order.product; let i = index">
        <ng-container [ngSwitch]="item.slug">


            <ng-container *ngSwitchCase="'full-pass'">
                <app-purchase-fullpass-card-item [item]="item"></app-purchase-fullpass-card-item>

                <!--order.status === 'completed' || order.status === 'preApproved'-->
                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName1">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName1>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">


                                        <app-claim-full-pass [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-claim-full-pass>

                                    </ng-container>
                                    <ng-template #templateName>

                                        <app-assigned-full-pass [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-assigned-full-pass>

                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'category-pass'">
                <app-purchase-category-pass-card-item [item]="item"></app-purchase-category-pass-card-item>

                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordion{{i}}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName2">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName2>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>

                                {{'division' | translate | titlecase}}
                                {{item.categoryType | translate | titlecase}}
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            attr.data-bs-parent="#accordion{{i}}">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">

                                        <app-claim-division [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-claim-division>
                                    </ng-container>
                                    <ng-template #templateName>

                                        <app-category-claims [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-category-claims>

                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'weekend-pass'">
                <app-purchase-weekend-pass-card-item [item]="item"></app-purchase-weekend-pass-card-item>


                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName3">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName3>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">
                                        <app-claim-weekend-pass [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-claim-weekend-pass>
                                    </ng-container>
                                    <ng-template #templateName>

                                        <app-assigned-weekend-pass [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-assigned-weekend-pass>

                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngSwitchCase="'day-pass'">
                <app-purchase-day-pass-card-item [item]="item"></app-purchase-day-pass-card-item>
            </ng-container>

            <ng-container *ngSwitchCase="'hotel-event'">
                <app-purchase-hotel-event-card-item [item]="item"></app-purchase-hotel-event-card-item>


                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName4">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName4>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">

                                        <app-claim-hotel [division]="item" [orderDocId]="orderDoc._id" [index]="i"
                                            [type]="'hotel-event'"></app-claim-hotel>

                                    </ng-container>
                                    <ng-template #templateName>

                                        <app-assigned-hotel [division]="item" [orderDocId]="orderDoc._id" [index]="i"
                                            [type]="'hotel-event'"></app-assigned-hotel>


                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>


            </ng-container>

            <ng-container *ngSwitchCase="'hotel-without-event'">
                <app-purchase-hotel-event-card-item [item]="item"></app-purchase-hotel-event-card-item>

                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName5">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName5>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">

                                        <app-claim-hotel [division]="item" [orderDocId]="orderDoc._id" [index]="i"
                                            [type]="'hotel-without-event'"></app-claim-hotel>

                                    </ng-container>
                                    <ng-template #templateName>

                                        <app-assigned-hotel [division]="item" [orderDocId]="orderDoc._id" [index]="i"
                                            [type]="'hotel-without-event'"></app-assigned-hotel>

                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngSwitchCase="'full-pass-per-day'">
                <app-purchase-full-pass-per-day-card-item [item]="item"></app-purchase-full-pass-per-day-card-item>


                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName6">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName6>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">

                                        <app-claim-full-pass-per-day [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i" [type]="'hotel-without-event'"></app-claim-full-pass-per-day>
                                    </ng-container>
                                    <ng-template #templateName>

                                        <app-assigned-claim-full-pass-per-day [division]="item"
                                            [orderDocId]="orderDoc._id"
                                            [index]="i"></app-assigned-claim-full-pass-per-day>

                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>


            </ng-container>

            <ng-container *ngSwitchCase="'weekend-fest'">
                <app-weekend-fest-card-item [item]="item"></app-weekend-fest-card-item>


                <div *ngIf="order.status === 'completed' || order.status === 'preApproved'" class="accordion p-1"
                    id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i" (click)="item.expanded = !item.expanded">
                                <ng-container *ngIf="item._claim;else templateName7">
                                    {{'Booked' | translate | titlecase}}:
                                </ng-container>
                                <ng-template #templateName7>
                                    {{'booking' | translate | titlecase}}:
                                </ng-template>
                            </button>
                        </h2>
                        <div id="collapse{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{i}}"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Renderiza el componente solo si la sección está expandida -->
                                <ng-container *ngIf="item.expanded">
                                    <ng-container *ngIf="!(item._claim); else templateName">

                                        <app-claim-weekend-fest [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-claim-weekend-fest>

                                    </ng-container>
                                    <ng-template #templateName>


                                        <app-assigned-weekend-fest [division]="item" [orderDocId]="orderDoc._id"
                                            [index]="i"></app-assigned-weekend-fest>

                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>



        </ng-container>
    </div>
</ng-template>

<ng-template #renderBankTransferSegment let-order="order">
    <div class="col-12 text-center mb-3">
        <div class="fs-4 fw-bold">
            {{'Voucher' | translate | titlecase}}
        </div>
    </div>

    <div class="col-12">

        <app-purchase-bank-transfer-info-card-item
            [item]="order.bankOptionData"></app-purchase-bank-transfer-info-card-item>
    </div>

    <app-purchase-upload-voucher-form *ngIf="!order.voucher"
        (onCompleteForm)="onLoadVoucher($event)"></app-purchase-upload-voucher-form>

    <ng-container *ngIf="order.voucher">
        <ng-container *ngIf="(!showUpdateVoucherForm)" [ngTemplateOutlet]="renderVoucherDetails"
            [ngTemplateOutletContext]="{order: order}"></ng-container>
        <app-purchase-upload-voucher-form *ngIf="(showUpdateVoucherForm)"
            (onCompleteForm)="onUpdateVoucher($event)"></app-purchase-upload-voucher-form>
    </ng-container>
</ng-template>

<ng-template #renderVoucherDetails let-order="order">
    <div class="col-12">
        <app-voucher-card-item [voucher]="order.voucher" [showUpdateButton]="order.voucher.canEdit"
            (onClickUpdateVoucher)="onRenderUpdateVoucher($event)"></app-voucher-card-item>
    </div>
</ng-template>

<ng-template #renderCheckOrderDoc let-item="item">
    <ng-container *ngIf="(item.exist); else renderNotFoundOrderDoc" [ngTemplateOutlet]="renderOrderDoc"
        [ngTemplateOutletContext]="{order: item}"></ng-container>
</ng-template>

<ng-template #renderNotFoundOrderDoc>
    <div class="col-12 mb-4">
        <div class="card-box card-box-b3 p-3 mb-3">
            <h5 class="text-center">
                {{"general.orderNotFound" | translate}}
            </h5>
        </div>
    </div>
</ng-template>

<ng-template #renderLoaderview>
    <div class="col-12 mb-4">
        <div class="card-box card-box-b3 p-3 mb-3">
            <div class="d-flex align-items-center">
                <strong>
                    {{"general.loading" | translate}}...
                </strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</ng-template>