<div class="card card-box" >
    <div class="card-body">
        <h5 class="card-title fw-bolder">
            <ng-container [ngTemplateOutlet]="renderCapacityIcon"></ng-container>
            | {{item.locationLabel}}
        </h5>
        <p class="card-text">
            <!-- {{ 'hotel.roomType.'+row.roomCode | translate | uppercase}} -->
            <!-- {{row.description}} -->
            {{item.title}}
        </p>
        <p class="card-text">
            Incluye:
            <small class="text-muted">
                {{item.include}}
            </small>
        </p>
        <p class="card-text">
            No Incluye:
            <span class="text-muted">
                {{item.noInclude}}
            </span>
        </p>
        
        <div class="d-flex flex-column flex-md-row align-content-md-center justify-content-md-between">
            <div class="d-flex justify-content-center align-items-md-center">
                <p class="card-text">
                    {{ "general.amount" | translate }} 
                    <span class="fw-bold fs-4">USD 0</span>
                </p>
            </div>

            <div class="text-sm-center">
                <a href="javascript:void(0)" class="btn btn-one btn-small" [ngClass]="{'disabled': dates.length == 0}" (click)="selectRoom()">
                    Añadir
                    &nbsp;
                    <i class="bi bi-cart-plus"></i>
                </a>
            </div>
        </div>

    </div>
</div>


<ng-template #renderCapacityIcon>
    <i class="bi" [ngClass]="{'bi-person-fill': item.capacity == 1, 'bi-people-fill': item.capacity > 1}"></i> {{item.capacity}}
</ng-template>