<div class="card card-box" >
    <div class="card-body">
        <h5 class="card-title fw-bolder text-rslt">
            <ng-container [ngTemplateOutlet]="renderCapacityIcon"></ng-container>
            | {{item.locationLabel}}
        </h5>
        <div class="seprd2"></div>
        <p class="card-text">
            <!-- {{ 'hotel.roomType.'+row.roomCode | translate | uppercase}} -->
            <!-- {{row.description}} -->
            {{item.title}}
        </p>
        <p class="card-text">
            {{"plansCard.include" | translate | titlecase}}:
            <small class="text-muted">
                {{item.include}}
            </small>
        </p>
        <p class="card-text">
            {{"plansCard.notInclude" | translate | titlecase}}:
            <span class="text-muted">
                {{item.noInclude}}
            </span>
        </p>
        
        <div class="d-flex flex-column flex-md-row align-content-md-center justify-content-md-between">
            <div class="d-flex justify-content-center align-items-md-center">
                <span class="fw-bold fs-4">{{"general.total" | translate }}: USD {{totales}}</span>
            </div>

            <div class="text-sm-center">
                <ng-container *ngIf="(!loading); then renderCartBtn; else renderLoaderBtn"></ng-container>
            </div>
        </div>

    </div>
</div>

<ng-template #renderCartBtn>
    <a href="javascript:void(0)" class="btn btn-one btn-small" [ngClass]="{'disabled': dates.length == 0}" (click)="selectRoom()">
        {{"general.add" | translate }}
        &nbsp;
        <i class="bi bi-cart-plus"></i>
    </a>
</ng-template>

<ng-template #renderLoaderBtn>
    <a href="javascript:void(0)" class="btn btn-one btn-small disabled">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">{{"general.loading" | translate }}...</span>
        </div>
    </a>
</ng-template>


<ng-template #renderCapacityIcon>
    <i class="bi" [ngClass]="{'bi-person-fill': item.capacity == 1, 'bi-people-fill': item.capacity > 1}"></i> {{item.capacity}}
</ng-template>

