<div class="row">

    <div class="col-12 mb-2">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="fst-italic m-0">
                <i class="bi bi-cart3"></i> {{ package?.label | titlecase }}
            </h5>
            <h5 class="fst-italic m-0">
                <i class="bi bi-cart3"></i> 
                {{ "general.amount-of-people" | translate }}: {{this.packag.numero_personas}}
            </h5>
            <div class="button-grupo">
                <button type="button" class="btn btn-sm btn-primary" title="Cancelar Orden" (click)="selectPackage(package)">
                    <!-- <i class="bi bi-trash3"></i> -->
                    {{ "general.edit" | translate }}
                </button>
                <button type="button" class="btn btn-sm btn-danger" title="Cancelar Orden" (click)="preSaleSrv.cancelOrder()">
                    <!-- <i class="bi bi-trash3"></i> -->
                    {{ "general.delete" | translate }}
                </button>
            </div>
        </div>
        <p class="text-muted">
            {{ package?.description }}
        </p>
    </div>

    <!-- <div class="col-12 mb-4">
        <div class="list-group">
            <div class="d-flex w-100 justify-content-center list-group-habitaciones" 
            *ngFor="let opt of package?.options; index as idx">
                <label for="habitacion_una_persona">
                    {{ opt.label | titlecase }}{{opt.index}}
                </label>
                <input type="number" min="0" class="form-control" *ngIf="idx==0" [ngModel]="habitacion1"  (ngModelChange)="Habitacion1($event)" name="habitacion1" id="habitacion_una_persona">
                <input type="number" min="0" class="form-control" *ngIf="idx==1" [ngModel]="habitacion2"  (ngModelChange)="Habitacion2($event)"  id="habitacion_una_persona">
                <input type="number" min="0" class="form-control" *ngIf="idx==2" [ngModel]="habitacion3"  (ngModelChange)="Habitacion3($event)"  name="habitacion3" id="habitacion_una_persona">
            </div>

        </div>

    </div> -->

    <div class="col-12 mb-2">
        <h5 class="fst-italic m-0 text-center mb-2">
            <i class="bi bi-house-fill"></i> 
            {{ "general.beds" | translate }}
        </h5>
        <p class="text-justify">
            <span class="text-danger">*</span>
            {{ "general.What-kind-of-beds-do-you-want" | translate }}
        </p>
        <div class="col-12 mb-4">
            <div class="list-group">
                <div class="d-flex w-100 justify-content-center list-group-camas" 
                *ngFor="let opt of package?.options; index as idx">
                    <label for="habitacion_una_persona">
                        {{ opt.label | titlecase }}{{opt.index}}
                    </label>
                    <button class="btn btn-primary" type="button"  (click)="openModal(template,idx)">
                        {{ "general.type-of-beds" | translate }}
                    </button> 
                </div>
        </div>

    </div>

    <!-- <div class="col-12 mb-2">
        <h5 class="fst-italic m-0 text-center mb-2">
            <i class="bi bi-card-checklist"></i> registro
        </h5>
        <div class="col-12 mb-4">
            <div class="list-group">
                <div class="d-flex w-100 justify-content-center list-group-camas" *ngIf="packag.una_persona.camas.length!=0">
                    <label for="habitacion_una_persona">
                        <i class="bi bi-check-circle"></i> Para una persona: <span>{{packag.una_persona.habitaciones}} habitacion(es) </span><span *ngFor="let opt of packag.una_persona.camas; index as idx"> y {{opt}}</span>
                    </label>
                </div>
                <div class="d-flex w-100 justify-content-center list-group-camas" *ngIf="packag.dos_personas.camas.length!=0">
                    <label for="habitacion_una_persona">
                        <i class="bi bi-check-circle"></i>  Para 2 personas: <span>{{packag.dos_personas.habitaciones}} habitacion(es) </span><span *ngFor="let opt of packag.dos_personas.camas; index as idx"> y {{opt}}</span>
                    </label>
                    
                </div>
                <div class="d-flex w-100 justify-content-center list-group-camas" *ngIf="packag.tres_personas.camas.length!=0">
                    <label for="habitacion_una_persona">
                        <i class="bi bi-check-circle"></i> Para 3 personas: <span>{{packag.tres_personas.habitaciones}} habitacion(es) </span><span *ngFor="let opt of packag.tres_personas.camas; index as idx"> y {{opt}}</span>
                    </label>
                </div>
        </div>

    </div> -->

    <div class="col-12">
        <!-- <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" [disabled]="(package?.nroGuests != summary?.members )" (click)="nextStep()">
                Continuar
            </button>
        </div> -->

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" (click)="nextStep()">
                {{ "general.continue" | translate }}
            </button>
        </div>
    </div>

</div>

<app-pre-sale-modal-nro-participants (onSetValue)="onSetNroParticipants($event)"></app-pre-sale-modal-nro-participants>

<ng-template #template>
    <div class="modal-header">
       <h4 class="modal-title pull-left" *ngIf="!bandDefault">{{ "general.beds" | translate }}</h4>
       <h4 class="modal-title pull-left" *ngIf="bandDefault">Error</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">

        <div class="d-flex flex-column w-100 justify-content-center" *ngIf="bandHabitacion2">

            <div class="input-group mb-3" *ngFor="let item of miarray">
                <div class="d-flex w-100 justify-content-between" >
                    <h5 class="mb-1" *ngIf="bandHabitacion2">
                        {{ "general.Rooms-for-2-Persons" | translate }}
                    </h5>
                </div>
                <ul>
                    <li class="item-li-camas">
                        {{ "general.Room-with-2-double-beds" | translate }}
                        
                        <input 
                            type="checkbox" 
                            (change)="onCheckboxChange($event)" 
                            id="vehicle1" 
                            name="dos_camas_dobles" 
                            value="dos camas dobles"
                        >
                    </li>
                    <li class="item-li-camas">
                        {{ "general.Room-with-2-single-beds" | translate }} 
                        <input 
                            type="checkbox" 
                            (change)="onCheckboxChange($event)" 
                            id="vehicle1" 
                            name="dos_camas_sencillas" 
                            value="dos camas sencillas"
                        >
                    </li>
                </ul>
                <!-- <button class="btn btn-primary" type="button" id="button-handler-quantity" (click)="camaIndividual(0)">
                    -
                </button>
                <input type="number" [(ngModel)]="cont1" [max]="nroMax" class="form-control" 
                >
                <button class="btn btn-primary" type="button" id="button-handler-quantity" (click)="camaIndividual(1)">
                    +
                </button> -->
            </div>
        </div>

        <div class="d-flex flex-column w-100 justify-content-center"  *ngIf="bandHabitacion3">
            <div class="input-group mb-3" *ngFor="let item of miarray">
                <div class="d-flex w-100 justify-content-between" >
                    <h5 class="mb-1" *ngIf="bandHabitacion3">
                        {{ "general.Room-for-3-people" | translate }}
                    </h5>
                </div>
                <ul>
                    <li class="item-li-camas">
                        {{ "general.Room-with-king-bed-and-single-bed" | translate }}
                        <input 
                            type="checkbox" 
                            (change)="onCheckboxChange($event)" 
                            id="vehicle1" 
                            name="cama_king_cama_sencilla" 
                            value="cama king y cama sencilla"
                        >
                    </li>
                    <li class="item-li-camas">
                        {{ "general.Room-with-2-double-beds" | translate }}
                        <input 
                            type="checkbox" 
                            (change)="onCheckboxChange($event)" 
                            id="vehicle1" 
                            name="cama_dobles" 
                            value="cama dobles"
                        >
                    </li>
                </ul>
                <!-- <button class="btn btn-primary" type="button" id="button-handler-quantity" (click)="camaMatrimonial(0)">
                    -
                </button>
                <input type="number" [(ngModel)]="cont3" [max]="nroMax" class="form-control" 
                >
                <button class="btn btn-primary" type="button" id="button-handler-quantity" (click)="camaMatrimonial(1)">
                    +
                </button> -->
            </div>
        </div>

        <div class="d-flex flex-column w-100 justify-content-center"  *ngIf="bandHabitacion1">
            <div class="input-group mb-3" *ngFor="let item of miarray">
                <div class="d-flex w-100 justify-content-between" >
                    <h5 class="mb-1" *ngIf="bandHabitacion1">
                        {{ "general.Room-for-1-person" | translate }}
                    </h5>
                </div>
                <ul>
                    <li class="item-li-camas">{{ "general.Single-bed-room" | translate }}<input type="checkbox" (change)="onCheckboxChange($event)" id="vehicle1" name="cama_sencilla" value="cama sencilla"></li>
                    <li class="item-li-camas">{{ "general.Room-with-double-bed" | translate }} <input type="checkbox" (change)="onCheckboxChange($event)" id="vehicle1" name="cama_matrimonial" value="cama matrimonial"></li>
                </ul>
                <!-- <button class="btn btn-primary" type="button" id="button-handler-quantity" (click)="camaMatrimonial(0)">
                    -
                </button>
                <input type="number" [(ngModel)]="cont3" [max]="nroMax" class="form-control" 
                >
                <button class="btn btn-primary" type="button" id="button-handler-quantity" (click)="camaMatrimonial(1)">
                    +
                </button> -->
            </div>
        </div>
        <p *ngIf="bandDefault">{{ "general.You-must-select-a-number-of-rooms" | translate }}</p>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-primary" (click)="openPopup()" *ngIf="!bandDefault">{{ "general.register" | translate }}</button>
       <button type="button" class="btn btn-default" (click)="cerrarModal()">
        {{ "general.close" | translate }}
       </button>
    </div>
 </ng-template>


 <!-- <ng-template #templateAlerta>
    <div class="modal-header">
       <h4 class="modal-title pull-left" *ngIf="!bandDefault">Camas</h4>
       <h4 class="modal-title pull-left" *ngIf="bandDefault">Error</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModalAlerta()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">


    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-primary"  *ngIf="!bandDefault">Registrar</button>
       <button type="button" class="btn btn-default" (click)="cerrarModalAlerta()">Close</button>
    </div>
 </ng-template> -->

 <div
 class="modal"
 tabindex="-1"
 role="dialog"
 [ngStyle]="{'display':displayStyle}">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title"> {{ "general.registration-completed" | translate }}</h4>
     </div>
     <div class="modal-body">
        <div class="col-12 mb-2">
        <div class="col-12 mb-4">
            <div class="list-group">
                <div class="d-flex w-100 justify-content-center list-group-camas" *ngIf="packag.una_persona.camas.length!=0">
                    <label for="habitacion_una_persona">
                        <i class="bi bi-check-circle"></i>
                        {{ "general.for-one-person" | translate }}: 
                        <span>
                            {{packag.una_persona.habitaciones}} {{ "general.room" | translate }}
                        </span>
                        <span *ngFor="let opt of packag.una_persona.camas; index as idx"> y {{opt}}
                        </span>
                    </label>
                </div>
                <div class="d-flex w-100 justify-content-center list-group-camas" *ngIf="packag.dos_personas.camas.length!=0">
                    <label for="habitacion_una_persona">
                        <i class="bi bi-check-circle"></i>  
                        {{ "general.for-two-person" | translate }}: 
                        <span>
                            {{packag.dos_personas.habitaciones}} 
                            {{ "general.room" | translate }} 
                        </span><span *ngFor="let opt of packag.dos_personas.camas; index as idx"> y {{opt}}</span>
                    </label>
                    
                </div>
                <div class="d-flex w-100 justify-content-center list-group-camas" *ngIf="packag.tres_personas.camas.length!=0">
                    <label for="habitacion_una_persona">
                        <i class="bi bi-check-circle"></i> 
                        {{ "general.for-three-person" | translate }}: 
                        <span>
                            {{packag.tres_personas.habitaciones}} {{ "general.room" | translate }} 
                        </span><span *ngFor="let opt of packag.tres_personas.camas; index as idx"> y {{opt}}</span>
                    </label>
                </div>
        </div>

    </div>
 
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-danger" 
               (click)="closePopup()">
               {{ "general.close" | translate }}
       </button>
     </div>
   </div>
 </div>
</div>