<div class="row mb-4">
  <div class="col-12 mb-4">
    <p>
      {{ "checkout.textFinalizeOne" | translate }}
    </p>
    <p [innerHTML]="'checkout.textFinalizeTwo' | translate"></p>
    <p>
      {{ "checkout.textFinalizeThree" | translate }}
    </p>
    <p>{{ "checkout.textFinalizeFour" | translate }}<br /></p>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="btn btn-primary" (click)="confirmOption()">
      <i class="bi bi-check2-square"></i>
      &nbsp;
      {{ "general.confirm" | translate | titlecase }}
    </button>
  </div>
</div>
